<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:vac="http://typo3.org/ns/Praetorius/ViteAssetCollector/ViewHelpers"
>
<f:layout name="Custom" />
<f:section name="Main">
    <vac:asset.vite
        manifest="EXT:bdp_template/Resources/Public/Build/.vite/manifest.json"
        entry="Resources/Private/Sources/Entry/Images.entry.js"
        cssTagAttributes="{media: 'all' }"
    />
    <div class="ct-images swiper">
        <div class="swiper-wrapper">
            <f:for each="{files}" as="image" iteration="imageIterator">
                <div class="swiper-slide">
                    <figure class="block relative bg-neutral-700 w-[112%] {f:if(condition: imageIterator.isFirst, then: ' clip-slant-rb')}{f:if(condition: imageIterator.isLast, then: ' transform-[translateX(-10%))] clip-slant-lt')} {f:if(condition: '!{imageIterator.isFirst} && !{imageIterator.isLast}', then: ' transform-[translateX(-5%))] clip-slant-y')}">
                        <picture class="ct-images__image__picture">
                            <source media="(max-width: 1799px)" srcset="{f:uri.image(image: image, width: '600c', height: '300c', fileExtension: 'webp')} 1x, {f:uri.image(image: image, width: '1200c', height: '600c', fileExtension: 'webp')} 2x" type="image/webp">
                            <source media="(max-width: 1799px)" srcset="{f:uri.image(image: image, width: '600c', height: '300c', fileExtension: 'jpg')} 1x, {f:uri.image(image: image, width: '1200c', height: '600c', fileExtension: 'jpg')} 2x" type="image/jpeg">
                            <source media="(min-width: 1800px)" srcset="{f:uri.image(image: image, width: '800c', height: '400c', fileExtension: 'webp')} 1x, {f:uri.image(image: image, width: '1600c', height: '800c', fileExtension: 'webp')} 2x" type="image/webp">
                            <source media="(min-width: 1800px)" srcset="{f:uri.image(image: image, width: '800c', height: '400c', fileExtension: 'jpg')} 1x, {f:uri.image(image: image, width: '1600c', height: '800c', fileExtension: 'jpg')} 2x" type="image/jpeg">
                            <f:image image="{image}" width="600c" height="300c" additionalAttributes="{loading: 'lazy'}" class="w-full object-cover" />
                        </picture>
                        <f:if condition="{image.description}">
                            <figcaption class="block uppercase font-light md:absolute">
                                <div>{image.description}</div>
                            </figcaption>
                        </f:if>
                        <f:if condition="{image.properties.copyright}">
                            <div class="absolute bottom-[0.375rem] right-[0.875rem] text-[0.875rem] text-white/60 hover:text-white hover:text-shadow-sm">© {image.properties.copyright}</div>
                        </f:if>
                    </figure>
                </div>
            </f:for>
        </div>
    </div>
</f:section>
</html>

