<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="NoBackground" />
<f:section name="BoxContent">
    <f:variable name="backgroundColor"><f:switch expression="{data.layout}"><f:case value="2">bg-zentrum-black text-white</f:case><f:case value="3">bg-zentrum-blue</f:case><f:case value="4">bg-zentrum-gray</f:case><f:defaultCase>bg-zentrum-light-gray</f:defaultCase></f:switch></f:variable>
    <div class="flex flex-wrap items-stretch group/bg {backgroundColor}">
        <div class="relative w-full min-h-[300px] md:w-1/3 lg:w-5/12 2xl:min-h-[350px] 3xl:min-h-[420px]{f:if(condition: '{data.frame_class} == reverse' , then: ' md:order-1 md:clip-slant-lt', else: ' md:clip-slant-rt')}">
            <f:if condition="{files.0}">
                <figure class="block absolute left-0 top-0 bottom-0 right-0">
                    <picture class="block relative w-full h-full overflow-hidden">
                        <source media="(max-width: 2075px)" srcset="{f:uri.image(image: files.0, width: '727c', height: '546c', fileExtension: 'webp')}" type="image/webp">
                        <source media="(max-width: 2075px)" srcset="{f:uri.image(image: files.0, width: '727c', height: '546c', fileExtension: 'jpg')}" type="image/jpeg">
                        <source media="(min-width: 2076px)" srcset="{f:uri.image(image: files.0, width: '1454c', height: '1092c', fileExtension: 'webp')}" type="image/webp">
                        <source media="(min-width: 2076px)" srcset="{f:uri.image(image: files.0, width: '1454c', height: '1092c', fileExtension: 'jpg')}" type="image/jpeg">
                        <f:image image="{files.0}" width="727c" height="546c" additionalAttributes="{loading: 'lazy'}" class="block relative w-full h-full object-cover"/>
                    </picture>
                    <f:if condition="{files.0.properties.copyright}">
                        <div class="absolute bottom-[0.375rem] right-[0.875rem] text-[0.875rem] text-white/60 hover:text-white hover:text-shadow-sm">© {files.0.properties.copyright}</div>
                    </f:if>
                </figure>
            </f:if>
        </div>
        <div class="flex relative py-8 px-[5%] min-h-[1px] w-full flex-col justify-between md:w-2/3 lg:w-7/12{f:if(condition: '{data.frame_class} == reverse' , then: ' md:order-0')}">
            <div class="overflow-hidden full-text">
                <f:render partial="Header/All" arguments="{data: data, settings: settings, noHeaderLink: 'true'}" />
                <f:format.html>{data.bodytext}</f:format.html>
            </div>
            <f:if condition="{data.header_link}">
                <div class="flex mt-4">
                    <div class="px-3 py-2 text-white bg-zentrum-black group-hover:shadow-lg/40 group-focus:shadow-lg/40">{f:translate(key: 'ct.textimage.details', extensionName: 'ZentrumPfadfinden')}</div>
                </div>
            </f:if>
        </div>
    </div>
</f:section>


<f:section name="Main">
    <f:if condition="{data.header_link}">
        <f:then>
            <f:link.typolink parameter="{data.header_link}" class="group relative block">
                <f:render section="BoxContent" arguments="{_all}" />
            </f:link.typolink>
        </f:then>
        <f:else>
            <div class="group relative">
                <f:render section="BoxContent" arguments="{_all}" />
            </div>
        </f:else>
    </f:if>
</f:section>
</html>

