@font-face {
  font-family: 'Immenhausen';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('Fonts/Immenhausen/immenhausen-webfont.woff2') format('woff2'),
  url('Fonts/immenhausen/immenhausen-webfont.woff') format('woff');
}
