@font-face {
  font-family: 'Immenhausen';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://.pfadfinden.de/fonts/immenhausen/immenhausen-webfont.woff2') format('woff2'),
  url('https://.pfadfinden.de/fonts/immenhausen/immenhausen-webfont.woff') format('woff');
}
