.page__navigation {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
    position: absolute;
    top: 7.5rem;
    left: 2.5rem;
    width: 10rem;
    padding: 0;
    margin: 0;
    z-index: 2;
  }
  &__side {
    display: block;
    padding: 2.1875rem 0.9375rem 0.9375rem 1.25rem;
    background-color: rgba(56,46,35,.7);
    font-size: 0.8125rem;
    line-height: 1.1875rem;
  }
}
@include media-breakpoint-up(md) {
  #mm-pfadfinden-menu {
    display: none !important;
  }
}
