#nav-left {
  margin: 0 0 1rem 0;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
  }
  @media #{$medium-and-up} {
    position: absolute;
    top: 120px;
    left: 40px;
    width: 160px;
    padding: 0;
    margin: 0;
    z-index: 7;
  }
}