.searchbox {
  display: none;
}
@media #{$large-and-up} {
  .searchbox {
    display: block;
    position: absolute;
    top: 1.5em;
    left: 750px;
    background: url(//cdn.pfadfinden.de/gfx/objects/streichholzschachtel_1.png) no-repeat;
    width: 180px;
    height: 114px;
    .searchbox__submit {
      font-family: Immenhausen, serif;
      color: $primary-color;
      font-size: 1.3rem;
      margin: 25px 0 0 35px;
      border: 0;
      background: none;
      padding: 0;
      text-align: left;
    }
    .searchbox__input {
      font-size: 0.9rem;
      margin: 5px 25px 0 35px;
      border: 2px solid $primary-color;
      background: transparent;
      color: #ffffff;
      padding: 2px;
      width: 100px;
    }
  }
}