<html xmlns="http://www.w3.org/1999/xhtml"
      data-namespace-typo3-fluid="true"
      xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers"
>
<f:link.external uri="{post.link}"
                 target="_blank"
                 rel="noopener"
                 class="ce-social__i__item__box"
                 title="{post.caption}"
>
    <div class="ce-social__i__item__box__picture">
        <video width="320"
               height="320"
               autoplay
               controls
               class="ce-social__i__item__box__picture__image"
        >
            <source src="{video.originalResource.publicUrl}"
                    type="video/mp4"
            >
            Your browser does not support the video tag.
        </video>
    </div>
</f:link.external>
</html>
