/* Header */
h1, h2, h3, h4, h5 {
	font-family: Immenhausen, serif;
	color: #ffffff;
	font-weight: normal;
	margin: 1.1rem 0 0.5rem 0;
}

h1 span, h2 span, h3 span, h4 span, h5 span {
   letter-spacing: 0.03em;
   background: #FFCB04;
   padding: 0.2em 0.25em;
   margin: 0;
}
.csc-default h1, .csc-default h2, .csc-default h3 {
	color: #0D53A5;
	/* padding: 0 0.25em; */
	padding: 0;
}

h1 {
	font-size: 2.5em;
}

.csc-default h2.header-blaugelb, .csc-header h2.header-blaugelb, .csc-textpicHeader h2.header-blaugelb {
	background-color: rgb(255, 202, 40);
	color: #0D53A5;
	font-family: Immenhausen, serif;
	font-size: 1.35em;
	font-weight: normal;
	display: inline;
	padding: 4px 4px 2px 4px;
	margin: 0.5em 0 0.5em -2px;
	letter-spacing: 1px;
	box-decoration-break: clone;
}
.header-blaugelb {
	background-color: rgb(255, 202, 40);
	color: #0D53A5;
	font-family: Immenhausen, serif;
	font-size: 1.35em;
	font-weight: normal;
	display: inline;
	padding: 4px 4px 2px 4px;
	margin: 0.5em 0 0.5em -2px;
	letter-spacing: 1px;
	box-decoration-break: clone;
}

.csc-default, .csc-frame-frame1, .csc-frame-frame2, .csc-frame-frame3 {
	margin: 0 0 2em 0;
	overflow: hidden;
	position: relative;
}

.csc-default a, .csc-default a:visited, .csc-frame a, .csc-frame a:visited {text-decoration: none; color: #0D53A5;}
.csc-default a:hover, .csc-frame a:hover{text-decoration: underline;}

.csc-frame.csc-frame-frame2 a {color: #FFCB04;}

/* Grid */

.csc-default, .csc-frame {
	margin-right: 1em;
	background-color: #ffffff;
	padding: 1em 1em;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
	position: relative;
}

.csc-frame-frame1 {
	background-color: #FFCB04;
}

.csc-frame-frame1 h1, .csc-frame-frame1 h2, .csc-frame-frame1 h3,
.csc-frame-frame1 h1 a, .csc-frame-frame1 h2 a, .csc-frame-frame1 h3 a{
	color: #0D53A5;
	text-decoration: none;
}

.csc-frame-frame1 h1, .csc-frame-frame1 h2, .csc-frame-frame1 h3 {
	color: #0D53A5;
}

.csc-frame-frame2 {
	background-color: #0D53A5;
	color: #ffffff;
}

.csc-frame-frame3 {
	background-color: #D30014;
	color: #ffffff;
}

.csc-frame-frame1 h1, .csc-frame-frame1 h2, .csc-frame-frame1 h3,
.csc-frame-frame1 h1 a, .csc-frame-frame1 h2 a, .csc-frame-frame1 h3 a,
.csc-frame-frame2 h1, .csc-frame-frame2 h2, .csc-frame-frame2 h3,
.csc-frame-frame2 h1 a, .csc-frame-frame2 h2 a, .csc-frame-frame2 h3 a,
.csc-frame-frame3 h1, .csc-frame-frame3 h2, .csc-frame-frame3 h3,
.csc-frame-frame3 h1 a, .csc-frame-frame3 h2 a, .csc-frame-frame3 h3 a{
	color: #ffffff;
	text-decoration: none;
}

.csc-frame-frame5 .csc-frame, .csc-frame-frame5 .csc-frame-frame4 {
	background-color: transparent;
	box-shadow: none;
	border: 0;
	position: relative;
}

.csc-frame-frame5 {
	margin: 0 1em 2em 0;
	background-color: #ffffff;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}


.csc-frame-frame5 div.csc-textpic .csc-textpic-image {
	margin-bottom: 0;
}

.csc-frame-frame6 {
	width: 43%;
	margin-bottom: 1.5em;
}

.csc-default h2.csc-uploads-title {
	margin: 0;
}

.csc-uploads-footer {
	background-color: #FFCB04;
	padding: 0.25em 1em;
	margin: 1em -1em 0 0;
	text-align: right;
}
.csc-uploads-fileSize {
	float: left;
	color: #ffffff;
}
.csc-uploads-footer a {
	display: block;
}

.ce-above .ce-gallery {
	margin-bottom: 0px;
}