.news {
  margin-bottom: 2rem;
}

.news_item {
  margin: 0;
  padding: 0;
}

.news_item .csc-default{
  margin-bottom: 1rem;
  padding-bottom: 0rem;
}
.masonry-item .csc-default {
    margin-bottom: 1rem;
}

.news_item .teaser-text {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
.news_item .teaser-text .news-list-date {
    font-weight: bold;
    display: inline;
}
.news_item .teaser-text .description {
    display: inline;
}

.news_item .teaser-text .description p:first-child {
    display: inline;
}
.news_item .teaser-text .description p:last-child {
    margin-bottom: 0;
}

.news-list-view .news-img-wrap {
   position: relative;
   width: 100%;
}

.news-single .news-img-wrap .mediaelement-image img {
    max-width: 100%;
    height: auto;
}

.news-list-view .news-img-wrap img {
   max-width:100%;
   height: auto;
}

.news-list-view .news-img-wrap .news-title {
   position: absolute;
   left: 0;
   bottom: 0;
   padding: 0;
   margin: 0;
   font-family: Immenhausen, serif;
   font-size: 18px;
}

.news-list-view .news-img-wrap .news-title a,
.news-list-view .news-img-wrap .news-title a:hover,
.news-list-view .news-img-wrap .news-title a:link,
.news-list-view .news-img-wrap .news-title a:visited {
   background: #FFCB04;
   border: 1px solid #FFCB04;
   padding: 0.15em 0.25em;
   margin: 0;
   text-decoration: none;
   color: #0D53A5;
}

.news-list-view .readmore {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 1em;
	margin-bottom: 1em;
}

.news-list-view .readmore a {
	padding: 0.25em 0.5em;
	background-color: #FFCB04;
	border: 0;
	color:#0D53A5;
	font-family: Immenhausen, serif;
}

.page-navigation, .page-navigation p, .page-navigation ul, .page-navigation ul li, .page-navigation ul li a {
    font-family: 'Immenhausen', serif;
    font-size: 1.3rem;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}
.page-navigation {
    text-align: center;
}
.page-navigation p{
   display: inline-block;
}
.page-navigation ul {
    display: inline-block;
}
.page-navigation .f3-widget-paginator li {
    list-style: none;
    display: inline-block;
    padding: 0 0.5rem;
}
.page-navigation .f3-widget-paginator .current  {
    font-size: 2.5rem;
}
.page-navigation .f3-widget-paginator li a {
    text-decoration: none;
}
