/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html{
  background: url(//cdn.pfadfinden.de/gfx/backgrounds/holzhintergrund_1.jpg);
}
@media #{$medium-and-up} {
  #wrap {
    background: url(//cdn.pfadfinden.de/gfx/objects/klufthemd_1.png) no-repeat;
  }
}

audio, canvas, img, svg, video {
  vertical-align: middle;
}

figure {
  margin: 0;
}
.responsive-img {
  max-width: 100%;
  height: auto;
}

%mediaelement {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mediaelement-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  iframe {
    @extend %mediaelement;
  }
  object {
    @extend %mediaelement;
  }
  embed {
    @extend %mediaelement;
  }
}