<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      xmlns:vac="http://typo3.org/ns/Praetorius/ViteAssetCollector/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="General" />
<!--
	=====================
		Templates/News/List.html
-->

<f:section name="content">
    <vac:asset.vite
        manifest="EXT:bdp_template/Resources/Public/Build/.vite/manifest.json"
        entry="Resources/Private/Source/JavaScript/NewsList.entry.js"
        cssTagAttributes="{
            media: 'all'
        }"
    />
	<!--TYPO3SEARCH_end-->
    <div class="news-list">
        <f:if condition="{news}">
            <f:then>
                <div class="news-list__items" id="news-container-{contentObjectData.uid}">
                    <f:for each="{pagination.paginator.paginatedItems}" as="newsItem" iteration="iterator">
                        <f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                    </f:for>
                </div>
                <f:if condition="{settings.hidePagination} == 0">
                    <f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
                </f:if>
            </f:then>
            <f:else>
                <div class="no-news-found">
                    <f:translate key="list_nonewsfound" />
                </div>
            </f:else>
        </f:if>
    </div>
	<!--TYPO3SEARCH_begin-->
</f:section>
</html>
