<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
    xmlns:bdp="http://typo3.org/ns/Pfadfinden/BdpTemplate/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
<f:variable name="spaceBefore"><f:switch expression="{data.space_before_class}">
    <f:case value="extra-small"> pt-4</f:case>
    <f:case value="small"> pt-8</f:case>
    <f:case value="medium"> pt-12</f:case>
    <f:case value="large"> pt-16</f:case>
    <f:case value="extra-large"> pt-32</f:case>
    <f:defaultCase></f:defaultCase>
</f:switch></f:variable>
<f:variable name="spaceAfter"><f:switch expression="{data.space_after_class}">
    <f:case value="extra-small"> pb-4</f:case>
    <f:case value="small"> pb-8</f:case>
    <f:case value="medium"> pb-12</f:case>
    <f:case value="large"> pb-16</f:case>
    <f:case value="extra-large"> pb-32</f:case>
    <f:defaultCase></f:defaultCase>
</f:switch></f:variable>
<f:variable name="layout"><f:switch expression="{data.layout}">
    <f:case value="1"> bg-yellow-500 text-blue-500 dark:bg-black dark:text-white</f:case>
    <f:case value="2"> bg-blue-500 text-yellow-500 dark:bg-black dark:text-white</f:case>
    <f:case value="3"> bg-red-500 text-white dark:bg-black dark:text-white</f:case>
    <f:defaultCase> bg-yellow-500 text-blue-500 dark:bg-black dark:text-white</f:defaultCase>
</f:switch></f:variable>
<f:variable name="mask"><f:switch expression="{data.mask}">
    <f:case value="mask_002">mask-[url(Images/clips/anschnitt_002/anschnitt_002_variant_01.svg)]</f:case>
    <f:case value="mask_003">mask-[url(Images/clips/anschnitt_002/anschnitt_002_variant_01.svg)]</f:case>
    <f:defaultCase>mask-[url(Images/clips/anschnitt_002/anschnitt_002_variant_01.svg)]</f:defaultCase>
</f:switch></f:variable>

<f:variable name="icon"><f:switch expression="{data.icon}">
    <f:case value="kohte">EXT:bdp_template/Resources/Public/Icons/pfadfinden/pfadi_elemente/kohte.svg</f:case>
    <f:case value="feuer">EXT:bdp_template/Resources/Public/Icons/pfadfinden/pfadi_elemente/feuer.svg</f:case>
    <f:case value="halstuch">EXT:bdp_template/Resources/Public/Icons/pfadfinden/pfadi_elemente/halstuch.svg</f:case>
    <f:case value="wald">EXT:bdp_template/Resources/Public/Icons/pfadfinden/pfadi_elemente/wald.svg</f:case>
    <f:case value="kompass">EXT:bdp_template/Resources/Public/Icons/pfadfinden/pfadi_elemente/kompass.svg</f:case>
    <f:case value="karte">EXT:bdp_template/Resources/Public/Icons/pfadfinden/pfadi_elemente/karte.svg</f:case>
    <f:case value="rucksack">EXT:bdp_template/Resources/Public/Icons/pfadfinden/pfadi_elemente/rucksack.svg</f:case>
    <f:case value="affe">EXT:bdp_template/Resources/Public/Icons/pfadfinden/pfadi_elemente/affe.svg</f:case>
    <f:case value="lampe">EXT:bdp_template/Resources/Public/Icons/pfadfinden/pfadi_elemente/lampe.svg</f:case>
    <f:case value="koschi">EXT:bdp_template/Resources/Public/Icons/pfadfinden/pfadi_elemente/koschi.svg</f:case>
    <f:case value="kessel">EXT:bdp_template/Resources/Public/Icons/pfadfinden/pfadi_elemente/kessel.svg</f:case>
    <f:case value="flasche">EXT:bdp_template/Resources/Public/Icons/pfadfinden/pfadi_elemente/flasche.svg</f:case>
    <f:case value="feuerkreis">EXT:bdp_template/Resources/Public/Icons/pfadfinden/pfadi_elemente/feuerkreis.svg</f:case>
    <f:case value="blatt">EXT:bdp_template/Resources/Public/Icons/pfadfinden/pfadi_elemente/blatt.svg</f:case>
    <f:defaultCase></f:defaultCase>
</f:switch></f:variable>

<div id="c-{data.uid}" class="relative {spaceBefore}{spaceAfter}">
    <div class="relative{layout} min-h-[500px] xl:min-h-[560px] {mask} mask-size-[cover] md:mask-size-[auto_100%] mask-position-[top_0px_right_-10rem] sm:mask-top-right mask-no-repeat">
        <div class="3xl:px-25 relative mx-auto w-full px-3 md:px-5 lg:px-10 xl:px-20 pt-2 pb-6 lg:pt-12 lg:pb-16 xl:pt-16 xl:pb-20">
            <f:variable name="header" value="{data -> f:render.text(field: 'header')}" />
            <f:if condition="{header}">
                <h2 class="mt-3 text-3xl font-semibold">{header}</h2>
            </f:if>
            <f:variable name="bodytext">{data -> f:render.text(field: 'bodytext')}</f:variable>
            <f:if condition="{bodytext}">
                <f:then>
                    <div class="text-md 2xl:text-lg xl:pt-4 w-full max-w-1/2 md:max-w-6/10 xl:max-w-1/2 [&_p]:mt-4 xl:[&_p]:mt-6">
                        {bodytext}
                    </div>
                </f:then>
            </f:if>
        </div>
    </div>
    <f:if condition="{icon}">
        <f:variable name="icon-color-class"><f:switch expression="{data.icon_color}">
            <f:case value="yellow-500">text-yellow-500</f:case>
            <f:case value="red-500">text-red-500</f:case>
            <f:case value="blue-light">text-blue-light</f:case>
            <f:case value="kluft">text-kluft</f:case>
            <f:case value="yellow-light">text-yellow-light</f:case>
            <f:case value="yellow-dark">text-yellow-dark</f:case>
            <f:case value="red-light">text-red-light</f:case>
            <f:case value="red-dark">text-red-dark</f:case>
            <f:case value="lagerplatzgruen">text-lagerplatzgruen</f:case>
            <f:case value="waldgruen">text-waldgruen</f:case>
            <f:case value="kohte">text-kohte</f:case>
            <f:case value="glut">text-glut</f:case>
            <f:case value="lagerfeuerorange">text-lagerfeuerorange</f:case>
            <f:case value="morgenkreis">text-morgenkreis</f:case>
            <f:case value="internationalerabend">text-internationalerabend</f:case>
            <f:case value="singekreislila">text-singekreislila</f:case>
            <f:defaultCase>text-blue-500</f:defaultCase>
        </f:switch></f:variable>
        <div class="absolute right-2 sm:right-10 bottom-[15%] {icon-color-class} dark:text-white">
            <bdp:inlineSvg src="{icon}" class="h-25 sm:h-32" width="128" height="128" aria-hidden="true" />
        </div>
    </f:if>
</div>
</html>
