@import "../3-tools/rfs";
.zt-headline-1 {
  font-weight: 700;
  @include font-size(3rem);
}
.zt-headline-2 {
  font-weight: 100;
  @include font-size(2.5rem);
  margin: 1rem 0;
  position: relative;
  padding-bottom: 5px;
  display: inline-block;
  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 110%;
    border-bottom: 1px solid #000000;
  }
  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 120%;
    border-bottom: 1px solid #000000;
  }
}
.zt-headline-3 {
  font-weight: 700;
  @include font-size(2rem);
}
.zt-headline-4 {
  font-weight: 100;
  font-size: 1.5rem;
  margin: 0.5rem 0;
  position: relative;
  padding-bottom: 5px;
  display: inline-block;
  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 110%;
    min-width: 180px;
    border-bottom: 1px solid #333333;
  }
  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 120%;
    min-width: 200px;
    border-bottom: 1px solid #333333;
  }
}
.zt-headline-5 {
  font-weight: 700;
  @include font-size(1.25rem);
}
.zt-box > header {
  overflow-x: hidden;
}
