@import "../variables";

.zt-lt-bg-1 {
  background-color: $zentrum-light-gray;
}
.zt-lt-bg-2 {
  background-color: $zentrum-black;
  color: #ffffff;
}
.zt-lt-bg-3 {
  background-color: $zentrum-light-blue;
}
.zt-lt-bg-4 {
  background-color: $zentrum-gray;
}
