<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Preview"/>

<f:section name="Header">
    <div class="element-preview-header-header">
        <cb:link.editRecord uid="{data.uid}" table="{data.mainType}">{data.header}</cb:link.editRecord>
    </div>
    <div class="element-preview-header-subheader">
        <cb:link.editRecord uid="{data.uid}" table="{data.mainType}">{data.subheader}</cb:link.editRecord>
    </div>
</f:section>
</html>
