<f:spaceless>
    <f:variable name="spaceBefore"><f:switch expression="{data.space_before_class}">
            <f:case value="extra-small"> pt-4</f:case>
            <f:case value="small"> pt-8</f:case>
            <f:case value="medium"> pt-12</f:case>
            <f:case value="large"> pt-16</f:case>
            <f:case value="extra-large"> pt-32</f:case>
            <f:defaultCase></f:defaultCase>
        </f:switch></f:variable>
    <f:variable name="spaceBeforeTablet"><f:switch expression="{data.tablet_space_before_class}">
            <f:case value="extra-small"> md:pt-4</f:case>
            <f:case value="small"> md:pt-8</f:case>
            <f:case value="medium"> md:pt-12</f:case>
            <f:case value="large"> md:pt-16</f:case>
            <f:case value="extra-large"> md:pt-32</f:case>
            <f:defaultCase></f:defaultCase>
        </f:switch></f:variable>
    <f:variable name="spaceBeforeDesktop"><f:switch expression="{data.desktop_space_before_class}">
            <f:case value="extra-small"> lg:pt-4</f:case>
            <f:case value="small"> lg:pt-8</f:case>
            <f:case value="medium"> lg:pt-12</f:case>
            <f:case value="large"> lg:pt-16</f:case>
            <f:case value="extra-large"> lg:pt-32 2xl:pt-40</f:case>
            <f:defaultCase></f:defaultCase>
        </f:switch></f:variable>
    <f:variable name="spaceAfter"><f:switch expression="{data.space_after_class}">
            <f:case value="extra-small"> pb-4</f:case>
            <f:case value="small"> pb-8</f:case>
            <f:case value="medium"> pb-12</f:case>
            <f:case value="large"> pb-16</f:case>
            <f:case value="extra-large"> pb-32</f:case>
            <f:defaultCase></f:defaultCase>
        </f:switch></f:variable>
    <f:if condition="{data.frame_class} != none">
        <f:then>
            <div id="item-{data.uid}" class="zt-box zt-box-{data.CType}{spaceBefore}{spaceBeforeTablet}{spaceBeforeDesktop}{spaceAfter}{spaceAfterTablet}{spaceAfterDesktop}">
                <f:if condition="{data._LOCALIZED_UID}">
                    <a id="c{data._LOCALIZED_UID}"></a>
                </f:if>
                <f:render section="Before" optional="true">
                    <f:render partial="DropIn/Before/All" arguments="{_all}" />
                </f:render>
                <f:render section="Main" optional="true" />
                <f:render section="After" optional="true">
                    <f:render partial="DropIn/After/All" arguments="{_all}" />
                </f:render>
            </div>
        </f:then>
        <f:else>
            <a id="item-{data.uid}"></a>
            <f:if condition="{data._LOCALIZED_UID}">
                <a id="item-{data._LOCALIZED_UID}"></a>
            </f:if>
            <f:if condition="{data.space_before_class} || {data.tablet_space_before_class} || {data.desktop_space_before_class}">
                <div class="{spaceBefore}{spaceBeforeTablet}{spaceBeforeDesktop}"></div>
            </f:if>
            <f:render section="Before" optional="true">
                <f:render partial="DropIn/Before/All" arguments="{_all}" />
            </f:render>
            <f:render section="Main" optional="true" />
            <f:render section="After" optional="true">
                <f:render partial="DropIn/After/All" arguments="{_all}" />
            </f:render>
            <f:if condition="{data.space_after_class} || {data.tablet_space_after_class} || {data.desktop_space_after_class}">
                <div class="{spaceAfter}{spaceAfterTablet}{spaceAfterDesktop}"></div>
            </f:if>
        </f:else>
    </f:if>
</f:spaceless>
