<div id="footer">
	<div id="nav-footer">
		<div class="nav-footer__title">Bund der Pfadfinderinnen und Pfadfinder<br>Landesverband Hessen e.V.</div>
		<div class="grid-g nav-footer__content">
			<div class="grid-u-1-2"><f:cObject typoscriptObjectPath="lib.nav-footer" /></div>
			<div class="grid-u-1-2">
				<div itemscope itemtype="http://schema.org/Organization">
					<p itemprop="name">BdP Landesverband Hessen e.V.</p>
					<p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">Königsteinerstr. 33</span>,&nbsp;<span itemprop="postalCode">61476</span>&nbsp;<span itemprop="addressLocality">Kronberg</span>, <span itemprop="addressCountry">DE</span></p>
					<p>Telefon: <span itemprop="telephone">06173 - 92 68 90</span><br />Telefax: <span itemprop="faxNumber">06173 - 47 05</span><br />E-Mail: <span itemprop="email"><a href="mailto:info@hessen.pfadfinden.de">info@hessen.pfadfinden.de</a></span><br />Internet:&nbsp;<a href="http://www.hessen.pfadfinden.de" itemprop="url">www.hessen.pfadfinden.de</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
