<section id="nav-left" class="no-print">
    <f:cObject typoscriptObjectPath="lib.nav-primary" />
    <div id="nav-secondary">
        <f:if condition="{settings.regionlogo} != ''">
            <f:then>
                <f:render partial="regionBranding" />
            </f:then>
        </f:if>
        <f:if condition="{settings.languages.menu} == 1">
            <f:then>
                <f:render partial="languageMenu" />
            </f:then>
        </f:if>
        <f:cObject typoscriptObjectPath="lib.nav-secondary" />
    </div>
</section>
