<dt class="vevent">
	<div class="dtstart-container">
		<abbr
			title="<f:format.date format='Ymd\THi00'>@{event.start.time}</f:format.date>"
			class="dtstart"><f:format.date format='F d '>@{event.start.time}</f:format.date>
			<f:if condition="{event.allday} != 1">
				<f:format.date format='g:i a'>@{event.start.time}</f:format.date>
			</f:if></abbr>
	</div>
	<div class="summary">
		<f:link.page
			additionalParams="{tx_cal_controller: '{view: \'event\',type: event.type, uid: event.uid, year: event.start.year, month: event.start.month, day: event.start.day  }'}">{event.title} {event.locationObject.city}</f:link.page>
	</div>
</dt>