ExpiresActive on
ExpiresDefault "access plus 6 months"
ExpiresByType image/gif "access plus 6 months"
ExpiresByType image/png "access plus 6 months"
ExpiresByType text/css "access plus 6 months"
ExpiresByType application/x-javascript "access plus 6 months"
ExpiresByType text/javascript "access plus 6 months"
ExpiresByType image/jpeg "access plus 6 months"
