// stylelint-disable value-keyword-case
$font-family-sans-serif:      Inter, Roboto, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-immenhausen:     "Immenhausen", serif;
$font-family-serif:           Aleo, Georgia, serif;
