<div id="wrap">
  <header id="header">
    <div id="branding">
      <f:if condition="{settings.region} != ''">
        <f:then>
          <div id="branding__logo" >
        </f:then>
        <f:else>
          <div id="branding__logo" class="no_region">
        </f:else>
      </f:if>

      <f:link.page pageUid="{f:cObject(typoscriptObjectPath: 'lib.root')}" noCache="0" accesskey="h">
        <img class="responsive-img" src="https://cdn.pfadfinden.de/gfx/logos/bundeszeichen_1.png" width="390" height="79" srcset="https://cdn.pfadfinden.de/gfx/logos/bundeszeichen_1.png 1x, https://cdn.pfadfinden.de/gfx/logos/bundeszeichen_1@2x.png 2x" alt="Bund der Pfadfinderinnen und Pfadfinder"/>
      </f:link.page>
      </div>
      <div id="responsivemenu">
        <a id="responsivemenubutton" href="#" data-activates="mobile-nav" class="button-collapse no-print">
          <i class="material-icons">menu</i>
        </a>
      </div>
      <f:if condition="{settings.region} != ''">
        <div id="branding__region">
          <f:link.page pageUid="{f:cObject(typoscriptObjectPath: 'lib.root')}" noCache="0">
            {settings.region}
          </f:link.page>
        </div>
      </f:if>
    </div>
    <f:if condition="{settings.search} != ''">
      <f:then>
        <f:render partial="searchbox" arguments="{settings : settings}" />
      </f:then>
    </f:if>
  </header>
  <section id="main">
    <f:render partial="nav-primary" />
    <f:render partial="{layout}" arguments="{_all}"/>
  </section>
  <f:cObject typoscriptObjectPath="lib.footer" />
</div>
