<f:spaceless>
    <div id="wrap">
        <header id="header">
            <f:render partial="Structure/Branding" arguments="{_all}"/>
            <f:render partial="Structure/Searchbox" arguments="{_all}"/>
        </header>
        <section id="main">
            <f:render partial="Navigation/Main" arguments="{_all}"/>
            <!--TYPO3SEARCH_begin-->
            <f:render partial="Structure/Teaser" arguments="{_all}"/>
            <f:render section="Main"/>
            <f:render section="Border" optional="true"/>
            <!--TYPO3SEARCH_end-->
        </section>
        <footer id="footer">
            <f:render partial="Structure/Footer" arguments="{_all}"/>
        </footer>
        <f:render partial="Structure/CookieConsent" arguments="{_all}"/>
    </div>
</f:spaceless>


