{namespace vac = Praetorius\ViteAssetCollector\ViewHelpers}
<f:spaceless>
    <vac:asset.vite
        manifest="EXT:bdp_template/Resources/Public/Build/.vite/manifest.json"
        entry="Resources/Private/Source/JavaScript/Main.entry.js"
        priority="1"
        cssTagAttributes="{
            media: 'all'
        }"
    />
    <div class="page">
        <f:render partial="Header" arguments="{_all}"/>
        <section class="page__navigation">
            <f:render partial="MainNavigation" arguments="{_all}" />
            <f:render partial="SideNavigation" arguments="{_all}" />
        </section>
        <main class="page__content">
            <section class="page__content__main container-bdp{f:if(condition: '{data.layout} == \'1\'', then:' container-bdp--wide')}">
                <f:render section="Main" />
            </section>
        </main>
        <f:render partial="Footer" arguments="{_all}"/>
    </div>
</f:spaceless>
