<f:spaceless>
    <div class="page">
        <f:render partial="Header" arguments="{_all}" />
        <section class="page__navigation">
            <f:render partial="MainNavigation" arguments="{_all}" />
            <f:render partial="SideNavigation" arguments="{_all}" />
        </section>

        <main class="page__content">
            <section class="page__content__header">
                <f:render section="Header" arguments="{_all}"/>
            </section>
            <section class="page__content__main container-bdp">
                <f:render section="Main" arguments="{_all}"/>
            </section>
        </main>
        <f:render partial="Footer" arguments="{_all}"/>
    </div>
</f:spaceless>
