<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      xmlns:bdp="http://typo3.org/ns/Pfadfinden/BdpTemplate/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Detail" />

<!--
	=====================
		News/Detail.html
-->

<f:section name="content">
    <f:if condition="{newsItem}">
        <f:then>
            <article class="article" itemscope="itemscope" itemtype="https://schema.org/Article">
                <n:format.nothing>
                    <n:excludeDisplayedNews newsItem="{newsItem}" />
                    <f:if condition="{settings.detail.showMetaTags}">
                        <f:render partial="Detail/Opengraph" arguments="{newsItem: newsItem, settings:settings}" />
                    </f:if>
                    <f:if condition="{newsItem.alternativeTitle}">
                        <f:then>
                            <n:titleTag>
                                <f:format.htmlentitiesDecode>{newsItem.alternativeTitle}</f:format.htmlentitiesDecode>
                            </n:titleTag>
                        </f:then>
                        <f:else>
                            <n:titleTag>
                                <f:format.htmlentitiesDecode>{newsItem.title}</f:format.htmlentitiesDecode>
                            </n:titleTag>
                        </f:else>
                    </f:if>
                </n:format.nothing>
                <f:if condition="{newsItem.contentElements}">
                    <f:then>
                        <f:cObject typoscriptObjectPath="lib.tx_news.contentElementRendering">{newsItem.contentElementIdList}</f:cObject>
                    </f:then>
                    <f:else>
                        <f:if condition="{newsItem.mediaNonPreviews.0} && ({newsItem.mediaNonPreviews.0.originalResource.type} == 2 || {newsItem.mediaNonPreviews.0.originalResource.type} == 5)">
                            <f:then>
                                <f:alias map="{mediaElement: newsItem.mediaNonPreviews.0}">
                                    <header class="relative w-full aspect-192/97">
                                        <div>
                                            <picture class="block relative w-full">
                                                <source media="(max-width: 359px)" srcset="{f:uri.image(image: mediaElement, width: '390c', height: '300c', fileExtension: 'webp')}" type="image/webp">
                                                <source media="(max-width: 359px)" srcset="{f:uri.image(image: mediaElement, width: '390c', height: '300c', fileExtension: 'jpg')}" type="image/jpeg">
                                                <source media="(max-width: 575px)" srcset="{f:uri.image(image: mediaElement, width: '575c', height: '430c', fileExtension: 'webp')}" type="image/webp">
                                                <source media="(max-width: 575px)" srcset="{f:uri.image(image: mediaElement, width: '575c', height: '430c', fileExtension: 'jpg')}" type="image/jpeg">
                                                <source media="(max-width: 767px)" srcset="{f:uri.image(image: mediaElement, width: '767c', height: '432c', fileExtension: 'webp')}" type="image/webp">
                                                <source media="(max-width: 767px)" srcset="{f:uri.image(image: mediaElement, width: '767c', height: '432c', fileExtension: 'jpg')}" type="image/jpeg">
                                                <source media="(max-width: 1200px)" srcset="{f:uri.image(image: mediaElement, width: '1200c', height: '675c', fileExtension: 'webp')} 1x, {f:uri.image(image: mediaElement, width: '2400c', height: '1350', fileExtension: 'webp')} 2x" type="image/webp">
                                                <source media="(max-width: 1200px)" srcset="{f:uri.image(image: mediaElement, width: '1200c', height: '675c', fileExtension: 'jpg')} 1x, {f:uri.image(image: mediaElement, width: '2400c', height: '1350', fileExtension: 'jpg')} 2x" type="image/jpeg">
                                                <source media="(max-width: 1451px)" srcset="{f:uri.image(image: mediaElement, width: '1451c', height: '622c', fileExtension: 'webp')} 1x, {f:uri.image(image: mediaElement, width: '2902c', height: '1244', fileExtension: 'webp')} 2x" type="image/webp">
                                                <source media="(max-width: 1451px)" srcset="{f:uri.image(image: mediaElement, width: '1451c', height: '622c', fileExtension: 'jpg')} 1x, {f:uri.image(image: mediaElement, width: '2902c', height: '1244', fileExtension: 'jpg')} 2x" type="image/jpeg">
                                                <source media="(min-width: 2560px)" srcset="{f:uri.image(image: mediaElement, width: '3840c', height: '1940', fileExtension: 'webp')}" type="image/webp">
                                                <source media="(min-width: 2560px)" srcset="{f:uri.image(image: mediaElement, width: '3840c', height: '1940', fileExtension: 'jpg')}" type="image/jpeg">
                                                <source media="(min-width: 1800px)" srcset="{f:uri.image(image: mediaElement, width: '1920c', height: '970c', fileExtension: 'webp')} 1x, {f:uri.image(image: mediaElement, width: '3840c', height: '1940', fileExtension: 'webp')} 2x" type="image/webp">
                                                <source media="(min-width: 1800px)" srcset="{f:uri.image(image: mediaElement, width: '1920c', height: '970c', fileExtension: 'jpg')} 1x, {f:uri.image(image: mediaElement, width: '3840c', height: '1940', fileExtension: 'jpg')} 2x" type="image/jpeg">
                                                <source media="(min-width: 1452px)" srcset="{f:uri.image(image: mediaElement, width: '1800c', height: '909c', fileExtension: 'webp')} 1x, {f:uri.image(image: mediaElement, width: '3600c', height: '1819', fileExtension: 'webp')} 2x" type="image/webp">
                                                <source media="(min-width: 1452px)" srcset="{f:uri.image(image: mediaElement, width: '1800c', height: '909c', fileExtension: 'jpg')} 1x, {f:uri.image(image: mediaElement, width: '3600c', height: '1819', fileExtension: 'jpg')} 2x" type="image/jpeg">
                                                <f:image image="{mediaElement}" width="1800c" height="909c" class="w-full h-auto max-w-full aspect-192/97 object-cover brightness-75" />
                                            </picture>
                                            <f:if condition="{mediaElement.originalResource.properties.copyright}">
                                                <div class="z-3 absolute bottom-2 left-2 text-white/70 text-shadow-sm text-xs">© {mediaElement.originalResource.properties.copyright}</div>
                                            </f:if>
                                            <f:variable name="title" value="{newsItem -> f:render.text(field: 'title')}" />
                                            <f:if condition="{title}">
                                                <div class="absolute left-3 md:left-5 lg:left-10 xl:left-20 bottom-[18%]">
                                                    <h1 itemprop="headline" class="text-yellow-500 dark:text-white text-4xl font-bold md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl">{title}</h1>
                                                </div>
                                            </f:if>
                                        </div>
                                        <div class="absolute right-0 bottom-0 w-[21.5234375vw] top-0 z-2 bg-yellow-500 mask-[url(Images/clips/headerslider.svg)] mask-cover mask-top-right mask-no-repeat text-blue-500 dark:bg-blue-500 dark:text-white"></div>
                                    </header>
                                </f:alias>
                            </f:then>
                            <f:else>
                                <header class="bg-yellow-500 pb-10 text-blue-500 dark:bg-blue-500 dark:text-yellow-500">
                                    <div class="3xl:px-25 relative mx-auto w-full px-3 md:px-5 lg:px-10 xl:px-20">
                                        <h1 itemprop="headline" class="relative pt-16 text-4xl font-bold md:text-5xl">
                                            {newsItem -> f:render.text(field: 'title')}
                                            <bdp:inlineSvg src="EXT:bdp_template/Resources/Public/Images/lines/welle.svg" class="mt-2 -ml-2 text-red-500 lg:-ml-6 dark:text-white" width="220px" />
                                        </h1>
                                    </div>
                                </header>
                            </f:else>
                        </f:if>
                        <div class="relative mx-auto w-full px-3 md:px-5 lg:px-10 xl:px-20 3xl:px-25 ">
                            <f:if condition="{settings.detail.showPrevNext}">
                                <n:simplePrevNext pidList="{newsItem.pid}" news="{newsItem}" as="paginated" sortField="datetime">
                                    <f:if condition="{paginated}">
                                        <ul class="pager">
                                            <f:if condition="{paginated.prev}">
                                                <li class="previous">
                                                    <n:link newsItem="{paginated.prev}" settings="{settings}">
                                                        <span aria-hidden="true">&larr; </span>{paginated.prev.title}
                                                    </n:link>
                                                </li>
                                            </f:if>
                                            <f:if condition="{paginated.next}">
                                                <li class="next">
                                                    <n:link newsItem="{paginated.next}" settings="{settings}" class="next">
                                                        {paginated.next.title} <span aria-hidden="true"> &rarr;</span>
                                                    </n:link>
                                                </li>
                                            </f:if>
                                        </ul>
                                    </f:if>
                                </n:simplePrevNext>
                            </f:if>
                            <div class="footer">
                                <p>
                                    <!-- date -->
                                    <span class="news-list-date">
						<time itemprop="datePublished" datetime="{f:format.date(date:newsItem.datetime, format:'c')}">
							<f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
						</time>
					</span>

                                    <f:if condition="{newsItem.categories}">
                                        <f:render partial="Category/Items" arguments="{categories:newsItem.categories, settings:settings}" />
                                    </f:if>

                                    <f:if condition="{newsItem.tags}">
                                        <!-- Tags -->
                                        <span class="news-list-tags" itemprop="keywords">
						<f:for each="{newsItem.tags}" as="tag">
							{tag.title}
						</f:for>
						</span>
                                    </f:if>

                                    <f:if condition="{newsItem.author}">
                                        <!-- author -->
                                        <span class="news-list-author" itemprop="author" itemscope="itemscope" itemtype="https://schema.org/Person">
							<f:translate key="author_simple" /> <span itemprop="name">{newsItem.author}</span>
						</span>
                                    </f:if>
                                </p>
                            </div>
                            <n:renderMedia news="{newsItem}" imgClass="img-responsive" videoClass="video-wrapper" audioClass="audio-wrapper">
                                <f:variable name="teaser">{newsItem -> f:render.text(field: 'teaser')}</f:variable>
                                <f:if condition="{teaser}">
                                    <div class="text-xl font-semibold" itemprop="description">
                                        {teaser}
                                    </div>
                                </f:if>

                                <f:render partial="Detail/MediaContainer" arguments="{media: newsItem.mediaNonPreviews, settings:settings}" />

                                <!-- main text -->
                                <div class="news-text-wrap" itemprop="articleBody">
                                    <f:variable name="bodytext">{newsItem -> f:render.text(field: 'bodytext')}</f:variable>
                                    <f:if condition="{bodytext}">
                                        <div class="text-md 2xl:text-lg xl:pt-4 [&_p]:mt-4 [&_p]:first:mt-0 xl:[&_p]:mt-6 [&_ul]:list-disc [&_ul]:pl-6 [&_ol]:list-decimal [&_ol]:pl-6">
                                            {bodytext}
                                        </div>
                                    </f:if>
                                </div>
                            </n:renderMedia>

                            <f:if condition="{settings.backPid}">
                                <!-- Link Back -->
                                <div class="news-backlink-wrap">
                                    <f:link.page pageUid="{settings.backPid}">
                                        <f:translate key="back-link" />
                                    </f:link.page>
                                </div>
                            </f:if>

                            <!-- related things -->
                            <div class="news-related-wrap">
                                <f:comment>
                                    Various options exist to fetch different related information:
                                    - {newsItem.allRelatedSorted}: all related news, related und related from, sorted by date
                                    - {newsItem.related}: all related
                                    - {newsItem.relatedSorted}: all related, sorted by date
                                    - {newsItem.relatedFrom}: all related from
                                    - {newsItem.relatedFromSortedByForeign}: all related from sorted by foreign sorting
                                    - {newsItem.relatedFromSorted}: all related from, sorted by date
                                </f:comment>

                                <f:if condition="{newsItem.allRelatedSorted}">
                                    <!-- Related news records -->
                                    <div class="news-related news-related-news">
                                        <h4>
                                            <f:translate key="related-news" />
                                        </h4>
                                        <ul>
                                            <f:for each="{newsItem.allRelatedSorted}" as="related">
                                                <li>
                                                    <span class="news-related-news-date"><f:format.date format="{f:translate(key:'dateFormat')}">{related.datetime}</f:format.date></span>
                                                    <n:link newsItem="{related}" settings="{settings}" title="{related.title}">
                                                        {related.title}
                                                    </n:link>
                                                </li>

                                            </f:for>
                                        </ul>
                                    </div>
                                </f:if>

                                <f:if condition="{newsItem.relatedFiles}">
                                    <!-- related files -->
                                    <div class="news-related news-related-files">
                                        <h4>
                                            <f:translate key="related-files" />
                                        </h4>
                                        <ul>
                                            <f:for each="{newsItem.relatedFiles}" as="relatedFile">
                                                <li>
									<span class="news-related-files-link">
										<a href="{relatedFile.originalResource.publicUrl -> f:format.htmlspecialchars()}" target="_blank">
											{f:if(condition:relatedFile.originalResource.title, then:relatedFile.originalResource.title, else:relatedFile.originalResource.name)}
										</a>
									</span>
                                                    <span class="news-related-files-size">
										{relatedFile.originalResource.size -> f:format.bytes()}
									</span>
                                                </li>
                                            </f:for>
                                        </ul>
                                    </div>
                                </f:if>

                                <f:if condition="{newsItem.relatedLinks}">
                                    <!-- Related links -->
                                    <div class="news-related news-related-links">
                                        <h4>
                                            <f:translate key="related-links" />
                                        </h4>
                                        <ul>
                                            <f:for each="{newsItem.relatedLinks}" as="relatedLink">
                                                <li>
                                                    <f:link.typolink parameter="{relatedLink.uri}" title="{relatedLink.title}" target="{n:targetLink(link:relatedLink.uri)}">{f:if(condition: relatedLink.title, then: relatedLink.title, else: relatedLink.uri)}</f:link.typolink>
                                                    <f:if condition="{relatedLink.description}"><span>{relatedLink.description}</span></f:if>
                                                </li>
                                            </f:for>
                                        </ul>
                                    </div>
                                </f:if>
                            </div>
                        </div>
                    </f:else>
                </f:if>
            </article>
        </f:then>
        <f:else>

        </f:else>
    </f:if>
</f:section>
</html>
