<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
    xmlns:bdp="http://typo3.org/ns/Pfadfinden/BdpTemplate/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
<f:variable name="spaceBefore"><f:switch expression="{data.space_before_class}">
    <f:case value="extra-small"> pt-4</f:case>
    <f:case value="small"> pt-8</f:case>
    <f:case value="medium"> pt-12</f:case>
    <f:case value="large"> pt-16</f:case>
    <f:case value="extra-large"> pt-32</f:case>
    <f:defaultCase></f:defaultCase>
</f:switch></f:variable>
<f:variable name="spaceAfter"><f:switch expression="{data.space_after_class}">
    <f:case value="extra-small"> pb-4</f:case>
    <f:case value="small"> pb-8</f:case>
    <f:case value="medium"> pb-12</f:case>
    <f:case value="large"> pb-16</f:case>
    <f:case value="extra-large"> pb-32</f:case>
    <f:defaultCase></f:defaultCase>
</f:switch></f:variable>
<f:variable name="layout"><f:switch expression="{data.layout}">
    <f:case value="1"> bg-yellow-500 text-blue-500 dark:bg-blue-500 dark:text-yellow-500</f:case>
    <f:case value="2"> bg-blue-500 text-yellow-500 dark:bg-blue-500 dark:text-white</f:case>
    <f:case value="3"> bg-red-500 text-white dark:bg-red-500 dark:text-white</f:case>
    <f:defaultCase> bg-yellow-500 text-blue-500 dark:bg-blue-500 dark:text-yellow-500</f:defaultCase>
</f:switch></f:variable>
<f:variable name="mask"><f:switch expression="{data.mask}">
    <f:case value="mask_002">mask-[url(Images/clips/anschnitt_009.svg)]</f:case>
    <f:case value="mask_003">mask-[url(Images/clips/anschnitt_009.svg)]</f:case>
    <f:defaultCase>mask-[url(Images/clips/anschnitt_009.svg)]</f:defaultCase>
</f:switch></f:variable>
<f:variable name="icon"><f:switch expression="{data.icon}">
    <f:case value="kohte">EXT:bdp_template/Resources/Public/Icons/pfadfinden/pfadi_elemente/kohte.svg</f:case>
    <f:case value="feuer">EXT:bdp_template/Resources/Public/Icons/pfadfinden/pfadi_elemente/feuer.svg</f:case>
    <f:case value="halstuch">EXT:bdp_template/Resources/Public/Icons/pfadfinden/pfadi_elemente/halstuch.svg</f:case>
    <f:case value="wald">EXT:bdp_template/Resources/Public/Icons/pfadfinden/pfadi_elemente/wald.svg</f:case>
    <f:case value="kompass">EXT:bdp_template/Resources/Public/Icons/pfadfinden/pfadi_elemente/kompass.svg</f:case>
    <f:case value="karte">EXT:bdp_template/Resources/Public/Icons/pfadfinden/pfadi_elemente/karte.svg</f:case>
    <f:case value="rucksack">EXT:bdp_template/Resources/Public/Icons/pfadfinden/pfadi_elemente/rucksack.svg</f:case>
    <f:case value="affe">EXT:bdp_template/Resources/Public/Icons/pfadfinden/pfadi_elemente/affe.svg</f:case>
    <f:case value="lampe">EXT:bdp_template/Resources/Public/Icons/pfadfinden/pfadi_elemente/lampe.svg</f:case>
    <f:case value="koschi">EXT:bdp_template/Resources/Public/Icons/pfadfinden/pfadi_elemente/koschi.svg</f:case>
    <f:case value="kessel">EXT:bdp_template/Resources/Public/Icons/pfadfinden/pfadi_elemente/kessel.svg</f:case>
    <f:case value="flasche">EXT:bdp_template/Resources/Public/Icons/pfadfinden/pfadi_elemente/flasche.svg</f:case>
    <f:case value="feuerkreis">EXT:bdp_template/Resources/Public/Icons/pfadfinden/pfadi_elemente/feuerkreis.svg</f:case>
    <f:case value="blatt">EXT:bdp_template/Resources/Public/Icons/pfadfinden/pfadi_elemente/blatt.svg</f:case>
    <f:defaultCase></f:defaultCase>
</f:switch></f:variable>

<div id="c-{data.uid}" class="relative {spaceBefore}{spaceAfter}">
    <div class="relative grid grid-cols-12 gap-4 min-h-[500px] xl:min-h-[560px] {layout}">
        <div class="col-span-12 sm:col-span-6 md:col-span-4 gap-4 z-2 3xl:pl-25 relative mx-auto w-full px-3 md:pl-5 lg:pl-10 xl:pl-20 pt-4 pb-6 lg:pt-14 xl:pt-18">
            <f:variable name="header" value="{data -> f:render.text(field: 'header')}" />
            <f:if condition="{header}">
                <h2 class="text-3xl font-semibold">{header}</h2>
            </f:if>
            <f:variable name="bodytext">{data -> f:render.text(field: 'bodytext')}</f:variable>
            <f:if condition="{bodytext}">
                <f:then>
                    <div class="text-md 2xl:text-lg xl:pt-4 [&_p]:mt-4 xl:[&_p]:mt-6">
                        {bodytext}
                    </div>
                </f:then>
                </f:if>
            <f:if condition="{icon}">
                <f:variable name="icon-color-class"><f:switch expression="{data.icon_color}">
                    <f:case value="blue-500">text-blue-500</f:case>
                    <f:case value="yellow-500">text-yellow-500</f:case>
                    <f:case value="red-500">text-red-500</f:case>
                    <f:case value="blue-light">text-blue-light</f:case>
                    <f:case value="kluft">text-kluft</f:case>
                    <f:case value="yellow-light">text-yellow-light</f:case>
                    <f:case value="yellow-dark">text-yellow-dark</f:case>
                    <f:case value="red-light">text-red-light</f:case>
                    <f:case value="red-dark">text-red-dark</f:case>
                    <f:case value="lagerplatzgruen">text-lagerplatzgruen</f:case>
                    <f:case value="waldgruen">text-waldgruen</f:case>
                    <f:case value="kohte">text-kohte</f:case>
                    <f:case value="glut">text-glut</f:case>
                    <f:case value="lagerfeuerorange">text-lagerfeuerorange</f:case>
                    <f:case value="morgenkreis">text-morgenkreis</f:case>
                    <f:case value="internationalerabend">text-internationalerabend</f:case>
                    <f:case value="singekreislila">text-singekreislila</f:case>
                    <f:defaultCase></f:defaultCase>
                </f:switch></f:variable>
                <div class="mt-10 {icon-color-class} dark:text-white">
                    <bdp:inlineSvg src="{icon}" class="h-25 sm:h-32" width="128" height="128" aria-hidden="true" />
                </div>
            </f:if>
        </div>
        <div class="col-span-12 sm:col-span-6 md:col-span-8 xl:col-span-7 xl:col-start-6 relative {mask} mask-cover mask-bottom-left mask-no-repeat min-h-[350px]">
            <f:if condition="{data.image.0}">
                <figure class="relative h-full">
                    <picture class="block relative w-full h-full">
                        <source srcset="{f:uri.image(image: data.image.0, width: '500c', height: '470c', fileExtension: 'webp')} 1x, {f:uri.image(image: data.image.0, width: '1000c', height: '940c', fileExtension: 'webp')} 2x" type="image/webp">
                        <source srcset="{f:uri.image(image: data.image.0, width: '500c', height: '470c', fileExtension: 'jpg')} 1x, {f:uri.image(image: data.image.0, width: '1000c', height: '940c', fileExtension: 'jpg')} 2x" type="image/jpeg">
                        <f:image image="{data.image.0}" width="500c" height="470c" loading="lazy" class="w-full h-full block absolute object-cover" />
                    </picture>
                    <f:if condition="{data.image.0.properties.copyright}">
                        <div class="text-sm absolute top-2 right-2 text-white/70 text-shadow-sm">© {data.image.0.properties.copyright}</div>
                    </f:if>
                </figure>
            </f:if>
        </div>
    </div>
</div>
</html>
