<f:comment>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Campground",
            "name": "{settings.contact.name}",
            "image": "<f:uri.image src='EXT:bdp_template/Resources/Public/Images/bdp_template/bdp_template_immenhausen.jpg' absolute='true' />",
            "logo": "<f:uri.image src='EXT:bdp_template/Resources/Public/Images/brand/logo_new.png' absolute='true' />",
            "@id": "www.pfadfinden.de",
            "url": "https://www.pfadfinden.de",
            "telephone": "{settings.contact.phone}",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "{settings.contact.street} {settings.contact.housenumber}",
                "addressLocality": "{settings.contact.city}",
                "postalCode": "{settings.contact.postcode}",
                "addressRegion":"{settings.contact.region}",
                "addressCountry": "DE"
            },
            "geo": {
                "@type": "GeoCoordinates",
                "latitude": 51.4390313,
                "longitude": 9.509965500000021
            },
            "sameAs": [
                "https://www.instagram.com/pfadfinden/",
                "https://www.zentrum-pfadfinden.de/",
                "https://zentrum-pfadfinden.de/",
                "https://www.zentrum.pfadfinden.de/"
            ]
        }
    </script>
</f:comment>

