<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Calendar event example template</title>
</head>

<body>

<h1>CALENDAR EVENT TEMPLATE</h1>

<p>This template contains the subparts for the event rendering in each view, like: event,day,week,month,year,ics,rss,preview,tomorrow,location,organizer,fnb,day_fnb,week_fnb,month_fnb,year_fnb. 
The subparts are additionally divided into the normal and an _ALLDAY subpart, to distinguish between both of them.</p>
<p>In general you can use any marker inside these subparts. Our logic will:
<ol>
<li>try to find an appropriate function to execute</li>
<li>try to find an according value in the data record</li>
<li>try to find a typoscript entry to use</li>
</ol>
</p>
<strong>Example: </strong>###TEST###<br />
Typoscript:<br/>
plugin.tx_cal_controller {<br/>
view.event.event.test = TEXT<br/>
view.event.event.test {<br/>
value = HelloWorld<br/>
}<br/>
<ol>
<li>there is no function: getTestMarker()</li>
<li>there is no key 'test' in the database columns for events</li>
<li>found typoscript!!</li>
</ol>
<p>Result: The marker ###TEST### will get replaced in the event view with 'HelloWorld'. In all other views the marker will be replaced with an empty string ('')</p>

<br>
<hr>
<br>
<h3>TEMPLATE_PHPICALENDAR_EVENT</h3>
<em>This is the template for the standard calendar event.</em>
<br>

<!--###TEMPLATE_PHPICALENDAR_EVENT### begin -->
<div class="csc-header csc-header-n1"><h1 class="csc-firstHeader">###TITLE###</h1></div>

###EDIT_LINK###

<div class="grid-g">
<div class="grid-u-1-3">
	<div class="box">
		<div class="csc-header csc-header-n1"><div class="header-blaugelb">Zeit</div></div>
		###STARTDATE###
		###ENDDATE###
		###STARTTIME###
		###ENDTIME###
	</div>

	###LOCATION###

	###ORGANIZER###

</div>

<div class="grid-u-2-3">
	###DESCRIPTION###
</div>

</div>

###STATUS### ###PRIORITY### ###COMPLETED###
###IMAGE###
###ATTACHMENT###
###ATTENDEE###
<!-- ###ICS_LINK### start --><img src="###IMG_PATH###/ics.gif" border="0"/><!-- ###ICS_LINK### end -->
###MORE_LINK###


<!-- ###SUBSCRIPTION### start -->
<div id="monitor_event">
<!--###NOTLOGGEDIN### start-->
If you are logged in, you can set up monitoring for this event.
<!--###NOTLOGGEDIN### end-->
<!--###NOTLOGGEDIN_NOMONITORING### start-->
<h1>###NOTLOGGEDIN_NOMONITORING_HEADING###</h1>
###L_CAPTCHA_START_SUCCESS###
<form name="tx_cal_controller" id="tx_cal_controller_subscribe" method="post" action="###ACTIONURL###">
###L_ENTER_EMAIL###
<input type="text" size=30 name="tx_cal_controller[email]" value=""><br /><br />
###L_CAPTCHA_TEXT###<br />
###CAPTCHA_TEXT###&nbsp;&nbsp;&nbsp;
###CAPTCHA_SRC###<br />
<input type="submit" value="###NOTLOGGEDIN_NOMONITORING_SUBMIT###" />
</form>
<!--###NOTLOGGEDIN_NOMONITORING### end-->
<!--###NOTLOGGEDIN_MONITORING### start-->
<h1>###NOTLOGGEDIN_MONITORING_HEADING###</h1>
###L_CAPTCHA_STOP_SUCCESS###
<form name="tx_cal_controller" id="tx_cal_controller_unsubscribe" method="post" action="###ACTIONURL###">
###L_ENTER_EMAIL###
<input type="text" size=30 name="tx_cal_controller[email]" value=""><br /><br />
###L_CAPTCHA_TEXT###<br />
###CAPTCHA_TEXT###&nbsp;&nbsp;&nbsp;
###CAPTCHA_SRC###<br />
<input type="submit" value="###NOTLOGGEDIN_MONITORING_SUBMIT###" />
</form>
<!--###NOTLOGGEDIN_MONITORING### end-->
<!--###LOGGEDIN_NOMONITORING###-->
<form>
Do you want to be notified, on event changes? <input type="hidden" id="userid" value="1"/> <input type="submit" value="monitor" />
</form>
<!--###LOGGEDIN_NOMONITORING###-->
<!--###LOGGEDIN_MONITORING###-->
<form>
Stop monitoring this event? <input type="hidden" id="userid" value="1"/> <input type="submit" value="Stop monitoring" />
</form>
<!--###LOGGEDIN_MONITORING###-->

</div>
<!-- ###SUBSCRIPTION### end -->
<!--###TEMPLATE_PHPICALENDAR_EVENT### end -->

<!--###TEMPLATE_PHPICALENDAR_EVENT_ALLDAY### begin -->
			<div class="###HEADERSTYLE###_allday">
			<!-- ###EVENT_LINK### start -->
				###TITLE###
				###FREQ###
			<!-- ###EVENT_LINK### end -->
			</div>
<!--###TEMPLATE_PHPICALENDAR_EVENT_ALLDAY### end -->

<!--###TEMPLATE_PHPICALENDAR_EVENT_DAY_ALLDAY### begin -->
			<td>
				<div class="vevent">
					<div class="###HEADERSTYLE###_allday">
				<!-- ###EVENT_LINK### start -->
						<span class="summary">###TITLE###</span>
						###FREQ###
				<!-- ###EVENT_LINK### end -->
					</div>
				</div>
			</td>
<!--###TEMPLATE_PHPICALENDAR_EVENT_DAY_ALLDAY### end -->

<!--###TEMPLATE_PHPICALENDAR_EVENT_DAY### begin -->
				<div style="top: ###TOP###px; left: ***LEFT***%; width: ***WIDTH***%;" class="vevent ###HEADERSTYLE###">
				  <!-- ###EVENT_LINK### start -->
	                  <dl style="height: ###LENGTH###px;">
	                    <dt title="###MICROFORMAT_START###" class="dtstart">###STARTTIME###-###ENDTIME###</dt>
	                    <dd>
	                      <span class="summary">###TITLE###</span>
	                      ###LOCATION###
	                    </dd>
	                  </dl>
	                <!-- ###EVENT_LINK### end -->
                </div>
<!--###TEMPLATE_PHPICALENDAR_EVENT_DAY### end -->

<!--###TEMPLATE_PHPICALENDAR_EVENT_WEEK### begin -->
                <div style="top: ###TOP###px; left: ***LEFT***%; width: ***WIDTH***%;" class="vevent ###HEADERSTYLE###">
                <!-- ###EVENT_LINK### start -->
                  <dl style="height: ###LENGTH###px;">
                    <dt title="###MICROFORMAT_START###" class="dtstart">###STARTTIME###-###ENDTIME###</dt>
                    <dd>
                      <span class="summary">###TITLE###</span>
					  ###LOCATION###
                    </dd>
                  </dl>
                  <!-- ###EVENT_LINK### end -->
                </div>
<!--###TEMPLATE_PHPICALENDAR_EVENT_WEEK### end -->


<!--###TEMPLATE_PHPICALENDAR_EVENT_WEEK_ALLDAY### begin -->
			<div class="vevent">
				 <div class="###HEADERSTYLE###_allday">
				<!-- ###EVENT_LINK### start -->
					<span class="summary">###TITLE###</span>
					###FREQ###
				<!-- ###EVENT_LINK### end -->
				</div>
			</div>
<!--###TEMPLATE_PHPICALENDAR_EVENT_WEEK_ALLDAY### end -->

<!--###TEMPLATE_PHPICALENDAR_EVENT_MONTH### begin -->
		<div class="vevent" id="cal_event_###UID###">
			<!-- ###EVENT_LINK### start -->
			<span class="###HEADERSTYLE###_text">
					<span title="###MICROFORMAT_START###" class="dtstart">###STARTTIME###</span>
					<span class="summary">###TITLE###</span>
				###FREQ###
			</span>
			###EDIT_LINK###
			<!-- ###EVENT_LINK### end -->
		</div>
<!--###TEMPLATE_PHPICALENDAR_EVENT_MONTH### end -->

<!--###TEMPLATE_PHPICALENDAR_EVENT_MONTH_ALLDAY### begin -->
		<div class="allday vevent ###HEADERSTYLE###_allday" id="cal_event_###UID###">
			<!-- ###EVENT_LINK### start -->
				<span class="###HEADERSTYLE###_text">
					<span class="popup">
						<span title="###MICROFORMAT_START###" class="dtstart"></span>
					</span>
					<span class="summary">###TITLE###</span>
				###FREQ###
				</span>
			<!-- ###EVENT_LINK### end -->
			###EDIT_LINK###
		</div>
<!--###TEMPLATE_PHPICALENDAR_EVENT_MONTH_ALLDAY### end -->

<!--###TEMPLATE_PHPICALENDAR_EVENT_MONTH_MINI### begin -->
<span class="###HEADERSTYLE###_bullet" title="###STARTTIME######TITLE###">&bull;</span>
<!--###TEMPLATE_PHPICALENDAR_EVENT_MONTH_MINI### end -->

<!--###TEMPLATE_PHPICALENDAR_EVENT_MONTH_MINI_ALLDAY### begin -->
<span class="###HEADERSTYLE###_bullet" title="###STARTTIME######TITLE###">&bull;</span>
<!--###TEMPLATE_PHPICALENDAR_EVENT_MONTH_MINI_ALLDAY### end -->

<!--###TEMPLATE_PHPICALENDAR_EVENT_YEAR### begin -->
<li>###TITLE###</li>
<!--###TEMPLATE_PHPICALENDAR_EVENT_YEAR### end -->

<!--###TEMPLATE_PHPICALENDAR_EVENT_YEAR_ALLDAY### begin -->
<li>###TITLE###</li>
<!--###TEMPLATE_PHPICALENDAR_EVENT_YEAR_ALLDAY### end -->

<!--###TEMPLATE_PHPICALENDAR_EVENT_PREVIEW### begin -->
<h1>###HEADING###</h1>
###EDIT_LINK###

###TITLE###
###STARTDATE###
###ENDDATE###
###STARTTIME###
###ENDTIME###
###DESCRIPTION###
###MORE_LINK###

<!--###TEMPLATE_PHPICALENDAR_EVENT_PREVIEW### end -->

<!--###TEMPLATE_PHPICALENDAR_EVENT_TOMORROW### begin -->
<div class="V9"><span class="###HEADERSTYLE###_bullet ###HEADERSTYLE###_legend_bullet">&bull;</span><span class="###HEADERSTYLE###_text ###HEADERSTYLE###_legend_text">###TITLE###</span></div>
<!--###TEMPLATE_PHPICALENDAR_EVENT_TOMORROW### end -->

<!--###TEMPLATE_PHPICALENDAR_EVENT_ORGANIZER### begin -->
<br />###STARTDATE### <!-- ###EVENT_LINK### start -->###TITLE###<!-- ###EVENT_LINK### end -->
<!--###TEMPLATE_PHPICALENDAR_EVENT_ORGANIZER### end -->

<!--###TEMPLATE_PHPICALENDAR_EVENT_LOCATION### begin -->
<br />###STARTDATE### <!-- ###EVENT_LINK### start -->###TITLE###<!-- ###EVENT_LINK### end -->
<!--###TEMPLATE_PHPICALENDAR_EVENT_LOCATION### end -->

<!-- ###TEMPLATE_PHPICALENDAR_EVENT_LIST_ODD### start -->
	<dt class="vevent">
		<div class="dtstart-container"><abbr title="###MICROFORMAT_START###" class="dtstart">###STARTDATE### ###STARTTIME###</abbr></div>
		<div class="summary"><!-- ###EVENT_LINK### start-->###TITLE###<!-- ###EVENT_LINK### end--></div>
	</dt>
<!-- ###TEMPLATE_PHPICALENDAR_EVENT_LIST_ODD### end -->
<!-- ###TEMPLATE_PHPICALENDAR_EVENT_LIST_EVEN### start -->
	<dt class="vevent even">
		<div class="dtstart-container"><abbr title="###MICROFORMAT_START###" class="dtstart">###STARTDATE### ###STARTTIME###</abbr></div>
		<div class="summary"><!-- ###EVENT_LINK### start-->###TITLE###<!-- ###EVENT_LINK### end--></div>
	</dt>
<!-- ###TEMPLATE_PHPICALENDAR_EVENT_LIST_EVEN### end -->

<!-- ###TEMPLATE_PHPICALENDAR_EVENT_LIST_ODD_ALLDAY### start -->
	<dt class="vevent">
		<div class="dtstart-container"><abbr title="###MICROFORMAT_START###" class="dtstart">###STARTDATE###</abbr>###ENDDATE###</div>
		<div class="summary"><!-- ###EVENT_LINK### start-->###TITLE###<!-- ###EVENT_LINK### end--></div>
	</dt>
<!-- ###TEMPLATE_PHPICALENDAR_EVENT_LIST_ODD_ALLDAY### end -->
<!-- ###TEMPLATE_PHPICALENDAR_EVENT_LIST_EVEN_ALLDAY### start -->
	<dt class="vevent even">
		<div class="dtstart-container"><abbr title="###MICROFORMAT_START###" class="dtstart">###STARTDATE###</abbr>###ENDDATE###</div>
		<div class="summary"><!-- ###EVENT_LINK### start-->###TITLE###<!-- ###EVENT_LINK### end--></div>
	</dt>
<!-- ###TEMPLATE_PHPICALENDAR_EVENT_LIST_EVEN_ALLDAY### end -->

<!--###TEMPLATE_PHPICALENDAR_EVENT_LOCATION_LIST_ODD### begin -->
<dt>
	###STARTDATE### <!-- ###EVENT_LINK### start -->###TITLE###<!-- ###EVENT_LINK### end -->
</dt>
<!--###TEMPLATE_PHPICALENDAR_EVENT_LOCATION_LIST_ODD### end -->
<!--###TEMPLATE_PHPICALENDAR_EVENT_LOCATION_LIST_EVEN### begin -->
<dt class="even">
	###STARTDATE### <!-- ###EVENT_LINK### start -->###TITLE###<!-- ###EVENT_LINK### end -->
</dt>
<!--###TEMPLATE_PHPICALENDAR_EVENT_LOCATION_LIST_EVEN### end -->
<!--###TEMPLATE_PHPICALENDAR_EVENT_LOCATION_LIST_ODD_ALLDAY### begin -->
<dt>
	###STARTDATE### <!-- ###EVENT_LINK### start -->###TITLE###<!-- ###EVENT_LINK### end -->
</dt>
<!--###TEMPLATE_PHPICALENDAR_EVENT_LOCATION_LIST_ODD_ALLDAY### end -->
<!--###TEMPLATE_PHPICALENDAR_EVENT_LOCATION_LIST_EVEN_ALLDAY### begin -->
<dt class="even">
	###STARTDATE### <!-- ###EVENT_LINK### start -->###TITLE###<!-- ###EVENT_LINK### end -->
</dt>
<!--###TEMPLATE_PHPICALENDAR_EVENT_LOCATION_LIST_EVEN_ALLDAY### end -->
<!--###TEMPLATE_PHPICALENDAR_EVENT_ORGANIZER_LIST_ODD### begin -->
<dt>
	###STARTDATE### <!-- ###EVENT_LINK### start -->###TITLE###<!-- ###EVENT_LINK### end -->
</dt>
<!--###TEMPLATE_PHPICALENDAR_EVENT_ORGANIZER_LIST_ODD### end -->
<!--###TEMPLATE_PHPICALENDAR_EVENT_ORGANIZER_LIST_EVEN### begin -->
<dt class="even">
	###STARTDATE### <!-- ###EVENT_LINK### start -->###TITLE###<!-- ###EVENT_LINK### end -->
</dt>
<!--###TEMPLATE_PHPICALENDAR_EVENT_ORGANIZER_LIST_EVEN### end -->
<!--###TEMPLATE_PHPICALENDAR_EVENT_ORGANIZER_LIST_ODD_ALLDAY### begin -->
<dt>
	###STARTDATE### <!-- ###EVENT_LINK### start -->###TITLE###<!-- ###EVENT_LINK### end -->
</dt>
<!--###TEMPLATE_PHPICALENDAR_EVENT_ORGANIZER_LIST_ODD_ALLDAY### end -->
<!--###TEMPLATE_PHPICALENDAR_EVENT_ORGANIZER_LIST_EVEN_ALLDAY### begin -->
<dt class="even">
	###STARTDATE### <!-- ###EVENT_LINK### start -->###TITLE###<!-- ###EVENT_LINK### end -->
</dt>
<!--###TEMPLATE_PHPICALENDAR_EVENT_ORGANIZER_LIST_EVEN_ALLDAY### end -->
<!--###TEMPLATE_PHPICALENDAR_EVENT_EVENT_LIST_ODD### begin -->
<dt>
	###REL_STARTDATE### <!-- ###EVENT_LINK### start -->###REL_TITLE###<!-- ###EVENT_LINK### end -->
</dt>
<!--###TEMPLATE_PHPICALENDAR_EVENT_EVENT_LIST_ODD### end -->
<!--###TEMPLATE_PHPICALENDAR_EVENT_EVENT_LIST_EVEN### begin -->
<dt class="even">
	###REL_STARTDATE### <!-- ###EVENT_LINK### start -->###REL_TITLE###<!-- ###EVENT_LINK### end -->
</dt>
<!--###TEMPLATE_PHPICALENDAR_EVENT_EVENT_LIST_EVEN### end -->
<!--###TEMPLATE_PHPICALENDAR_EVENT_EVENT_LIST_ODD_ALLDAY### begin -->
<dt>
	###REL_STARTDATE### <!-- ###EVENT_LINK### start -->###REL_TITLE###<!-- ###EVENT_LINK### end -->
</dt>
<!--###TEMPLATE_PHPICALENDAR_EVENT_EVENT_LIST_ODD_ALLDAY### end -->
<!--###TEMPLATE_PHPICALENDAR_EVENT_EVENT_LIST_EVEN_ALLDAY### begin -->
<dt class="even">
	###REL_STARTDATE### <!-- ###EVENT_LINK### start -->###REL_TITLE###<!-- ###EVENT_LINK### end -->
</dt>
<!--###TEMPLATE_PHPICALENDAR_EVENT_EVENT_LIST_EVEN_ALLDAY### end -->


<!-- ###TEMPLATE_PHPICALENDAR_EVENT_RSS### start -->
		<item>
			<title>###TITLE###</title>
			<link>###EVENT_URL###</link>
			<guid>###GUID###</guid>
			<pubDate>###CRDATE###</pubDate>
			<content:encoded>
			<![CDATA[
				###CATEGORY###
				###STARTDATE### ###STARTTIME###
				###ENDDATE### ###ENDTIME###
				###LOCATION###
				###ORGANIZER###
				###DESCRIPTION### <!-- ###EVENT_LINK### start -->###MORE_LABEL###<!-- ###EVENT_LINK### end -->
			]]>
			</content:encoded>
			<description><![CDATA[
				###CATEGORY###
				###STARTDATE### ###STARTTIME###
				###ENDDATE### ###ENDTIME###
				###LOCATION###
				###ORGANIZER###
				###DESCRIPTION_STRIPTAGS### <!-- ###EVENT_LINK### start -->###MORE_LABEL###<!-- ###EVENT_LINK### end -->
				<hr/>
				]]>
			</description>
		</item>
<!-- ###TEMPLATE_PHPICALENDAR_EVENT_RSS### end -->
<!-- ###TEMPLATE_PHPICALENDAR_EVENT_RSS_ALLDAY### start -->
		<item>
			<title>###TITLE###</title>
			<link>###EVENT_URL###</link>
			<guid>###GUID###</guid>
			<pubDate>###CRDATE###</pubDate>
			<content:encoded>
			<![CDATA[
				###CATEGORY###
				###STARTDATE### ###STARTTIME###
				###ENDDATE### ###ENDTIME###
				###LOCATION###
				###ORGANIZER###
				###DESCRIPTION### <!-- ###EVENT_LINK### start -->###MORE_LABEL###<!-- ###EVENT_LINK### end -->
			]]>
			</content:encoded>
			<description><![CDATA[
				###CATEGORY###
				###STARTDATE### ###STARTTIME###
				###ENDDATE### ###ENDTIME###
				###LOCATION###
				###ORGANIZER###
				###DESCRIPTION_STRIPTAGS### <!-- ###EVENT_LINK### start -->###MORE_LABEL###<!-- ###EVENT_LINK### end -->
				<hr/>
				]]>
			</description>
		</item>
<!-- ###TEMPLATE_PHPICALENDAR_EVENT_RSS_ALLDAY### end -->

<!-- ###TEMPLATE_PHPICALENDAR_EVENT_ICS### start -->
BEGIN:VEVENT
UID:###GUID###
###DTSTAMP###
###DTSTART_YEAR_MONTH_DAY_HOUR_MINUTE###
###DTEND_YEAR_MONTH_DAY_HOUR_MINUTE###
###CATEGORY###
###TITLE###
###DESCRIPTION###
###LOCATION###
###RRULE###
###RDATE###
###EXDATE###
###EXRULE###
###ORGANIZER###
###ATTENDEE###
END:VEVENT
<!-- ###TEMPLATE_PHPICALENDAR_EVENT_ICS### end -->
<!-- ###TEMPLATE_PHPICALENDAR_EVENT_ICS_ALLDAY### start -->
BEGIN:VEVENT
UID:###GUID###
###DTSTAMP###
###DTSTART_YEAR_MONTH_DAY_HOUR_MINUTE###
###DTEND_YEAR_MONTH_DAY_HOUR_MINUTE###
###CATEGORY###
###TITLE###
###DESCRIPTION###
###LOCATION###
###RRULE###
###RDATE###
###EXDATE###
###EXRULE###
###ORGANIZER###
###ATTENDEE###
END:VEVENT
<!-- ###TEMPLATE_PHPICALENDAR_EVENT_ICS_ALLDAY### end -->

Free And Busy views:

<!--###TEMPLATE_PHPICALENDAR_EVENT_FNB### begin -->
<!--phpicalendar_event.tmpl-->
###STARTDATE###
###ENDDATE###
###STARTTIME###
###ENDTIME###
###CALENDAR_TITLE###
<!--/phpicalendar_event.tmpl-->
<!--###TEMPLATE_PHPICALENDAR_EVENT_FNB### end -->

<!--###TEMPLATE_PHPICALENDAR_EVENT_FNB_ALLDAY### begin -->
###STARTDATE###
###ENDDATE###
###CALENDAR_TITLE###
<!--###TEMPLATE_PHPICALENDAR_EVENT_FNB_ALLDAY### end -->

<!--###TEMPLATE_PHPICALENDAR_EVENT_DAY_FNB_ALLDAY### begin -->
			<td>
				<div class="vevent ###HEADERSTYLE###_allday">
					<div class="###HEADERSTYLE###_allday">
						<span class="summary" title="###CALENDAR_TITLE###">###CALENDAR_TITLE###</span>
					</div>
				</div>
			</td>
<!--###TEMPLATE_PHPICALENDAR_EVENT_DAY_FNB_ALLDAY### end -->

<!--###TEMPLATE_PHPICALENDAR_EVENT_DAY_FNB### begin -->
				<div style="top: ###TOP###px; left: ***LEFT***%; width: ***WIDTH***%;" class="vevent ###HEADERSTYLE###">
	                  <dl style="height: ###LENGTH###px;">
	                    <dt title="###MICROFORMAT_START###" class="dtstart">###STARTTIME###-###ENDTIME###</dt>
	                    <dd>
	                      <span class="summary" title="###CALENDAR_TITLE###">###CALENDAR_TITLE###</span>
	                    </dd>
	                  </dl>
                </div>
<!--###TEMPLATE_PHPICALENDAR_EVENT_DAY_FNB### end -->

<!--###TEMPLATE_PHPICALENDAR_EVENT_WEEK_FNB### begin -->
                <div style="top: ###TOP###px; left: ***LEFT***%; width: ***WIDTH***%;" class="vevent ###HEADERSTYLE###">
                  <dl style="height: ###LENGTH###px;">
                    <dt title="###MICROFORMAT_START###" class="dtstart">###STARTTIME###-###ENDTIME###</dt>
                    <dd>
                      <span class="summary" title="###CALENDAR_TITLE###">###CALENDAR_TITLE###</span>
                    </dd>
                  </dl>
                </div>
<!--###TEMPLATE_PHPICALENDAR_EVENT_WEEK_FNB### end -->


<!--###TEMPLATE_PHPICALENDAR_EVENT_WEEK_FNB_ALLDAY### begin -->
			<div class="vevent ###HEADERSTYLE###_allday>
				 <div class="###HEADERSTYLE###_allday">
					<span class="summary" title="###CALENDAR_TITLE###">###CALENDAR_TITLE###</span>
				</div>
			</div>
<!--###TEMPLATE_PHPICALENDAR_EVENT_WEEK_FNB_ALLDAY### end -->

<!--###TEMPLATE_PHPICALENDAR_EVENT_MONTH_FNB### begin -->
		<div class="vevent ###HEADERSTYLE###">
			<span class="###HEADERSTYLE###_text">
					<span>###STARTTIME###</span>
					<span>###CALENDAR_TITLE###</span>
			</span>
		</div>
<!--###TEMPLATE_PHPICALENDAR_EVENT_MONTH_FNB### end -->

<!--###TEMPLATE_PHPICALENDAR_EVENT_MONTH_FNB_ALLDAY### begin -->
		<div class="vevent ###HEADERSTYLE###_allday">
			<span class="###HEADERSTYLE###_text">
					<span>###STARTDATE###</span>
					<span>###CALENDAR_TITLE###</span>
			</span>
		</div>
<!--###TEMPLATE_PHPICALENDAR_EVENT_MONTH_FNB_ALLDAY### end -->

<!--###TEMPLATE_PHPICALENDAR_EVENT_FNB_YEAR### begin -->
<div class="V9"><span class="###HEADERSTYLE###_bullet">&bull;</span></div><br />
<!--###TEMPLATE_PHPICALENDAR_EVENT_YEAR_FNB### end -->

<!-- ###TEMPLATE_PHPICALENDAR_EVENT_LIST_ODD_FNB### start -->
	<dt class="vevent">
		<div class="dtstart-container">###STARTDATE### ###STARTTIME###</div>
		<div class="summary">###CALENDAR_TITLE###</div>
	</dt>
<!-- ###TEMPLATE_PHPICALENDAR_EVENT_LIST_ODD_FNB### end -->
<!-- ###TEMPLATE_PHPICALENDAR_EVENT_LIST_EVEN_FNB### start -->
	<dt class="vevent even">
		<div class="dtstart-container">###STARTDATE### ###STARTTIME###</div>
		<div class="summary">###CALENDAR_TITLE###</div>
	</dt>
<!-- ###TEMPLATE_PHPICALENDAR_EVENT_LIST_EVEN_FNB### end -->

<!-- ###TEMPLATE_PHPICALENDAR_EVENT_LIST_ODD_FNB_ALLDAY### start -->
	<dt class="vevent">
		<div class="dtstart-container">###STARTDATE###</div>
		<div class="summary">###CALENDAR_TITLE###</div>
	</dt>
<!-- ###TEMPLATE_PHPICALENDAR_EVENT_LIST_ODD_FNB_ALLDAY### end -->
<!-- ###TEMPLATE_PHPICALENDAR_EVENT_LIST_EVEN_FNB_ALLDAY### start -->
	<dt class="vevent even">
		<div class="dtstart-container">###STARTDATE###</div>
		<div class="summary">###CALENDAR_TITLE###</div>
	</dt>
<!-- ###TEMPLATE_PHPICALENDAR_EVENT_LIST_EVEN_FNB_ALLDAY### end -->

</body>
</html>