<!-- ###TEMPLATE_PHPICALENDAR_EVENT_LIST_ODD### start -->
	<dt class="vevent">
		<div class="dtstart-container"><abbr title="###MICROFORMAT_START###" class="dtstart">###STARTDATE###</abbr></div>
		<div class="summary"><!-- ###EVENT_LINK### start-->###TITLE###<!-- ###EVENT_LINK### end--></div>
	</dt>
<!-- ###TEMPLATE_PHPICALENDAR_EVENT_LIST_ODD### end -->
<!-- ###TEMPLATE_PHPICALENDAR_EVENT_LIST_EVEN### start -->
	<dt class="vevent even">
		<div class="dtstart-container"><abbr title="###MICROFORMAT_START###" class="dtstart">###STARTDATE###</abbr></div>
		<div class="summary"><!-- ###EVENT_LINK### start-->###TITLE###<!-- ###EVENT_LINK### end--></div>
	</dt>
<!-- ###TEMPLATE_PHPICALENDAR_EVENT_LIST_EVEN### end -->

<!-- ###TEMPLATE_PHPICALENDAR_EVENT_LIST_ODD_ALLDAY### start -->
	<dt class="vevent">
		<div class="dtstart-container"><abbr title="###MICROFORMAT_START###" class="dtstart">###STARTDATE###</abbr></div>
		<div class="summary"><!-- ###EVENT_LINK### start-->###TITLE###<!-- ###EVENT_LINK### end-->###LOCATION###</div>
	</dt>
<!-- ###TEMPLATE_PHPICALENDAR_EVENT_LIST_ODD_ALLDAY### end -->
<!-- ###TEMPLATE_PHPICALENDAR_EVENT_LIST_EVEN_ALLDAY### start -->
	<dt class="vevent even">
		<div class="dtstart-container"><abbr title="###MICROFORMAT_START###" class="dtstart">###STARTDATE###</abbr></div>
		<div class="summary"><!-- ###EVENT_LINK### start-->###TITLE###<!-- ###EVENT_LINK### end-->###LOCATION###</div>				
	</dt>
<!-- ###TEMPLATE_PHPICALENDAR_EVENT_LIST_EVEN_ALLDAY### end -->