<div id="calendar-event"><!-- ###EVENT### --><!-- ###EVENT### --></div>
<!-- ###RELATED_LIST### start -->
	<!-- ###LIST_TEMPLATE### start -->
		<h3>###L_LOCATION_RELATEDEVENTS###</h3>
		<!-- ###PRE_LIST_TEMPLATE### begin -->
		<dl>
		<!-- ###PRE_LIST_TEMPLATE### end -->
		<!-- ###LIST### start -->
		<!-- ###LIST### end -->
		<!-- ###POST_LIST_TEMPLATE### begin -->
		</dl>
		<!-- ###POST_LIST_TEMPLATE### end -->
	<!-- ###LIST_TEMPLATE### end -->
<!-- ###RELATED_LIST### end -->
<div id="calendar-event-backlink">###BACK_LINK###</div>