<!--list.tmpl-->
<!-- ###LIST_DAY_WRAPPER### begin -->
	<dt><hr></dt>
    <dd> --- Event ---</dd>
<!-- ###LIST_DAY_WRAPPER### end -->

<!-- ###LIST_WEEK_WRAPPER### begin -->
	<dt><hr></dt>
    <dd> --- Week ---</dd>
<!-- ###LIST_WEEK_WRAPPER### end -->

<!-- ###LIST_MONTH_WRAPPER### begin -->
	<dt><hr></dt>
    <dd> --- Month ---</dd>
	Neuer Monat
<!-- ###LIST_MONTH_WRAPPER### end -->


<!-- ###LIST_TEMPLATE### begin -->
<div class="list-view">
<!-- ###PAGEBROWSER### begin -->
<p class="pagebrowser">
###PAGEOF###  ###PAGES###  ###PREVIOUS### ###NEXT###
</p>
<!-- ###PAGEBROWSER### end -->
<!-- ###PRE_LIST_TEMPLATE### begin -->
<div class="cal-row">
<div class="cal-entry month-wrapper title-wrapper"><div class="cal-title"><a href="/aktionen/termine/">Termine,<br /><span style="margin-left:1em;">Termine ...</span></a></div></div>
<!-- ###PRE_LIST_TEMPLATE### end -->
	<!-- ###LIST### start -->
	<!-- ###LIST### end -->
<!-- ###POST_LIST_TEMPLATE### begin -->
</div>
<!-- ###POST_LIST_TEMPLATE### end -->

<!-- ###PAGEBROWSER### begin -->
<p class="pagebrowser">
###PAGEOF###  ###PAGES###  ###PREVIOUS### ###NEXT###
</p>
<!-- ###PAGEBROWSER### end -->

###CREATE_EVENT_LINK###
</div>
<!-- ###LIST_TEMPLATE### end -->
<!--/list.tmpl-->
