<!--location.tmpl-->
<div id="calendar-location"><!-- ###LOCATION### --><!-- ###LOCATION### --></div>
<!-- ###RELATED_LIST### start -->
	<!-- ###LIST_TEMPLATE### start -->
<div class="box">
<div class="csc-header csc-header-n1"><h3 class="bdp-yellow">Veranstaltungen an diesem Ort</h3></div>
		<!-- ###PRE_LIST_TEMPLATE### begin -->
		<dl>
		<!-- ###PRE_LIST_TEMPLATE### end -->
		<!-- ###LIST### start -->
		<!-- ###LIST### end -->
		<!-- ###POST_LIST_TEMPLATE### begin -->
		</dl>
		<!-- ###POST_LIST_TEMPLATE### end -->
</div>
	<!-- ###LIST_TEMPLATE### end -->
<!-- ###RELATED_LIST### end -->
<div id="calendar-location-backlink">###BACK_LINK###</div>
<!--/location.tmpl-->