<!--location_model.tmpl-->
<!-- ###TEMPLATE_LOCATION_LOCATION### start -->
<div class="csc-header csc-header-n1"><h1 class="csc-firstHeader">###NAME###</h1></div>

###EDIT_LINK###

<div class="row">
<div class="col s12 m6 l6">
<div class="box">
<div class="csc-header csc-header-n1"><h3 class="bdp-yellow">Anschrift</h3></div>
<p>###STREET###
###ZIP###
###CITY###
###COUNTRYZONE###
###COUNTRY###</p>
</div>
</div>
<div class="col s12 m6 l6">
<div class="box">
<div class="csc-header csc-header-n1"><h3 class="bdp-yellow">Kontakt</h3></div>
<p>###PHONE###
###FAX###
###LINK###
###EMAIL###</p>
</div>

</div>

</div>
<div class="box">
###DESCRIPTION###
</div>
<div class="box">
###MAP###
</div>

###IMAGE###

<!-- ###TEMPLATE_LOCATION_LOCATION### end -->
<!-- ###TEMPLATE_LOCATION_SEARCH_LOCATION_LIST_ODD### start -->
<li class="odd">
	<div class="fn">
		###NAME_LABEL###: <!-- ###LOCATION_LINK### start -->###NAME###<!-- ###LOCATION_LINK### end -->
	</div>
	
	<div class="adr">
		<div class="street-address">###STREET###</div>
		<span class="postal-code">###ZIP###</span>
		<span class="locality">###CITY###</span>
		<span class="region">###COUNTRYZONE###</span>
		<div class="country-name">###COUNTRY###</div>
		###EVENT_LINK###
	</div>
</li>
<!-- ###TEMPLATE_LOCATION_SEARCH_LOCATION_LIST_ODD### end -->
<!-- ###TEMPLATE_LOCATION_SEARCH_LOCATION_LIST_EVEN### start -->
<li class="even">
	<div class="fn">
		###NAME_LABEL###: <!-- ###LOCATION_LINK### start -->###NAME###<!-- ###LOCATION_LINK### end -->
	</div>
	
	<div class="adr">
		<div class="street-address">###STREET###</div>
		<span class="postal-code">###ZIP###</span>
		<span class="locality">###CITY###</span>
		<span class="region">###COUNTRYZONE###</span>
		<div class="country-name">###COUNTRY###</div>
		###EVENT_LINK###
	</div>
</li>

<!-- ###TEMPLATE_LOCATION_SEARCH_LOCATION_LIST_EVEN### end -->
<!-- ###TEMPLATE_LOCATION_SEARCH_ALL_LIST_ODD### start -->
<li class="odd">
	<div class="fn">
		###NAME_LABEL###: <!-- ###LOCATION_LINK### start -->###NAME###<!-- ###LOCATION_LINK### end -->
	</div>
	
	<div class="adr">
		<div class="street-address">###STREET###</div>
		<span class="postal-code">###ZIP###</span>
		<span class="locality">###CITY###</span>
		<span class="region">###COUNTRYZONE###</span>
		<div class="country-name">###COUNTRY###</div>
		###EVENT_LINK###
	</div>
</li>
<!-- ###TEMPLATE_LOCATION_SEARCH_ALL_LIST_ODD### end -->
<!-- ###TEMPLATE_LOCATION_SEARCH_ALL_LIST_EVEN### start -->
<li class="even">
	<div class="fn">
		###NAME_LABEL###: <!-- ###LOCATION_LINK### start -->###NAME###<!-- ###LOCATION_LINK### end -->
	</div>
	
	<div class="adr">
		<div class="street-address">###STREET###</div>
		<span class="postal-code">###ZIP###</span>
		<span class="locality">###CITY###</span>
		<span class="region">###COUNTRYZONE###</span>
		<div class="country-name">###COUNTRY###</div>
		###EVENT_LINK###
	</div>
</li>

<!-- ###TEMPLATE_LOCATION_SEARCH_ALL_LIST_EVEN### end -->


<!--/location_model.tmpl-->	