<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:semantilizer="http://typo3.org/ns/Zeroseven/Semantilizer/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="NoBox" />
<f:section name="Header" />
<f:section name="Main">
    <div class="ce-shift-box-banner {f:if(condition: data.image_position, then: ' ce-shift-box-banner--position-{data.image_position}')} ce-shift-box-banner--color-{data.layout}">
        <div class="ce-shift-box-banner__frame">
            <div class="ce-shift-box-banner__frame__picture">
                <f:if condition="{files.0}">
                    <f:image image="{files.0}" width="1097c" height="618c" class="ce-shift-box-banner__frame__picture__image" loading="lazy" />
                </f:if>
            </div>
        </div>
        <div class="ce-shift-box-banner__box">
            <div class="ce-shift-box-banner__box__content">
                <div class="ce-shift-box-banner__box__content__wrapper">
                    <f:if condition="{data.header_layout} != 100">
                        <f:if condition="{data.header}">
                            <f:spaceless>
                                <header class="ce-shift-box-banner__box__content__wrapper__header">
                                    <semantilizer:headline class="ce-shift-box-banner__box__content__wrapper__header__title" edit="tt_content:{data.uid}:header_type" type="{data.header_type}">
                                        <f:link.typolink parameter="{data.header_link}">{data.header}</f:link.typolink>
                                    </semantilizer:headline>
                                </header>
                            </f:spaceless>
                        </f:if>
                    </f:if>
                    <f:if condition="{data.subheader}">
                        <div class="ce-shift-box-banner__box__content__wrapper__text">
                            {data.subheader}
                        </div>
                    </f:if>
                </div>
                <f:if condition="{data.header_link} && {f:uri.typolink(parameter: data.header_link)}">
                    <div class="ce-shift-box-banner__box__content__actions">
                        <f:link.typolink class="ce-shift-box-banner__box__content__actions__action" parameter="{data.header_link}" parts-as="parts">
                            <div class="ce-shift-box-banner__box__content__actions__action__text">
                                <f:if condition="{parts.title}">
                                    <f:then>{parts.title}</f:then>
                                    <f:else>Mehr erfahren</f:else>
                                </f:if>
                            </div>
                        </f:link.typolink>
                    </div>
                </f:if>
            </div>
        </div>
    </div>
</f:section>
</html>
