@use "../3-tools/breakpoints";

.bdp-ce__type-bdp_text-image {
  padding: 0;
  &.bdp-ce--layout-0,
  &.bdp-ce--layout-1 {
    padding: 0;
  }
}
.ce-textimage {
  @include breakpoints.media-breakpoint-up(sm) {
    display: flex;
    flex-wrap: wrap;
  }
  &__picture {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    &:before {
      content: "";
      display: block;
      padding-top: percentage(9 / 16);
    }
    &__image {
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include breakpoints.media-breakpoint-up(sm) {
      flex-shrink: 0;
      width: 50%;
      max-width: 50%;
      &:before {
        display: none;
      }
    }
  }
  &__content {
    padding: 1rem;
    > * {
      &:last-child {
        margin-bottom: 0;
      }
    }
    @include breakpoints.media-breakpoint-up(sm) {
      flex-shrink: 0;
      width: 50%;
      max-width: 50%;
    }
  }
  &--right {
    @include breakpoints.media-breakpoint-up(sm) {
      .ce-textimage {
        &__picture {
          order: 2
        }
        &__content {
          order: 1;
        }
      }
    }
  }
}
