@use "../3-tools/colors";
@use "../5-elements/headings";

.bdp-ce-container {
  &--layout {
    &-1 {
      padding: 1rem;
      margin-bottom: 1rem;
      background-color: colors.get-color('bdp-yellow', 'base');
      color: #000000;
      box-shadow: 0 5px 5px rgba(0,0,0,.1);
      .bdp-ce {
        &--layout {
          &-0 {
            box-shadow: none;
          }
          &-1 {
            box-shadow: none;
          }
          &-2 {
            box-shadow: none;
          }
          &-3 {
            box-shadow: none;
          }
          &-4 {
            color: #000000;
          }
        }
      }
      > .row {
        > * {
          > * {
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    &-2 {
      padding: 1rem;
      margin-bottom: 1rem;
      background-color: colors.get-color('bdp-blue', 'base');
      color: #ffffff;
      box-shadow: 0 5px 5px rgba(0,0,0,.1);
      .bdp-ce {
        &--layout {
          &-0 {
            box-shadow: none;
          }
          &-1 {
            box-shadow: none;
          }
          &-2 {
            box-shadow: none;
          }
          &-3 {
            box-shadow: none;
          }
        }
      }
      > .row {
        > * {
          > * {
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    &-3 {
      padding: 1rem;
      margin-bottom: 1rem;
      background-color: colors.get-color('bdp-red', 'base');
      color: #ffffff;
      box-shadow: 0 5px 5px rgba(0,0,0,.1);
      .bdp-ce {
        &--layout {
          &-0 {
            box-shadow: none;
          }
          &-1 {
            box-shadow: none;
          }
          &-2 {
            box-shadow: none;
          }
          &-3 {
            box-shadow: none;
          }
        }
      }
      > .row {
        > * {
          > * {
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    &-4 {
      padding: 1rem;
      margin-bottom: 1rem;
      background-color: #ffffff;
      color: #000000;
      box-shadow: 0 5px 5px rgba(0,0,0,.1);
      .bdp-ce {
        &--layout {
          &-0 {
            box-shadow: none;
          }
          &-1 {
            box-shadow: none;
          }
          &-2 {
            box-shadow: none;
          }
          &-3 {
            box-shadow: none;
          }
          &-4 {
            color: #000000;
          }
        }
      }
      > .row {
        > * {
          > * {
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
