@use "../2-design-tokens/fonts";
@use "../3-tools/breakpoints";
@use "../3-tools/colors";

.ce-cta {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
  &__action {
    display: block;
    background-color: #ffffff;
    box-shadow: 0 5px 5px rgba(0,0,0,.1);
    padding: 0.875rem;
    text-align: center;
    outline: none;
    transition: background-color 0.3s ease;
    &__text {
      font-size: 1.3125rem;
      font-family: fonts.$font-family-immenhausen;
      color: colors.get-color('bdp-blue', 'base');
      padding: 0.625rem 1rem;
      border: 1px solid colors.get-color('bdp-blue', 'base');
      text-transform: uppercase;
      transition: color 0.3s ease, border-color 0.3s ease;;
    }
    &:focus, &:hover, &:active {
      background-color: #000000;
      text-decoration: none;
      outline: none;
      .ce-cta__action__text {
        border-color: #ffffff;
        color: #ffffff;
      }
    }
  }
  &--left {
    justify-content: left;
  }
  &--right {
    justify-content: right;
  }
  &--color-1 {
    .ce-cta {
      &__action {
        background-color: colors.get-color('bdp-yellow', 'base');
        &__text {
          border-color: colors.get-color('bdp-blue', 'base');
          color: colors.get-color('bdp-blue', 'base');
        }
        &:focus, &:hover, &:active {
          background-color: colors.get-color('bdp-blue', 'base');
          .ce-cta__action__text {
            border-color: #ffffff;
            color: #ffffff;
          }
        }
      }
    }
  }
  &--color-2 {
    .ce-cta {
      &__action {
        background-color: colors.get-color('bdp-blue', 'base');
        &__text {
          border-color: #ffffff;
          color: #ffffff;
        }
        &:focus, &:hover, &:active {
          background-color: darken(colors.get-color('bdp-blue', 'base'), 10%);
          .ce-cta__action__text {
            border-color: #ffffff;
            color: #ffffff;
          }
        }
      }
    }
  }
  &--color-3 {
    .ce-cta {
      &__action {
        background-color: colors.get-color('bdp-red', 'base');
        &__text {
          border-color: #ffffff;
          color: #ffffff;
        }
        &:focus, &:hover, &:active {
          background-color: darken(colors.get-color('bdp-red', 'base'), 20%);
          .ce-cta__action__text {
            border-color: #ffffff;
            color: #ffffff;
          }
        }
      }
    }
  }
  &--color-4 {
    .ce-cta {
      &__action {
        background-color: transparent;
        box-shadow: none;
        &__text {
          border-color: #000000;
          color: #000000;
        }
        &:focus, &:hover, &:active {
          background-color: #000000;
          .ce-cta__action__text {
            border-color: #ffffff;
            color: #ffffff;
          }
        }
      }
    }
  }
}
