@use "../2-design-tokens/fonts";
@use "../3-tools/breakpoints";
@use "../3-tools/colors";

.news-list {
  display: grid;
  grid-auto-flow: dense;
  grid-gap: 1rem;
  grid-template-rows: masonry;
  grid-template-columns: 1fr;
  @include breakpoints.media-breakpoint-up(sm) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include breakpoints.media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, 1fr);
  }
  &__item {
    background-color: #ffffff;
    color: #000000;
    padding: 1rem;
    font-size: 0.875rem;
    box-shadow: 0 5px 5px rgba(0,0,0,.1);
    &__link {
      display: block;
      margin: 0;
      padding: 0;
      color: #000000;
      text-decoration: none;
      &:hover {
        color: #000000;
        text-decoration: none;
      }
      &:visited {
        color: #000000;
      }
      &:focus {
        color: #000000;
      }
    }
    &__header {
      position: relative;
      &__title {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 0;
        margin: 0;
        &--no-media {
          position: relative;
        }
        &__headline {
          font-family: fonts.$font-family-immenhausen;
          font-size: 1.1875rem;
          font-weight: 400;
          display: inline;
          padding: 0.1875rem 0.25rem 0.1875rem 0.25rem;
          margin: 0.625rem 0 .625rem 0;
          line-height: 1.4;
          box-decoration-break: clone;
          background-color: colors.get-color('bdp-yellow', 'base');
          color: colors.get-color('bdp-blue', 'base');
        }
      }
      &__media {
        &__image {
          max-width: 100%;
          height: auto;
          vertical-align: bottom;
        }
      }
    }
    &__teaser {
      margin-top: 0.625rem;
      margin-bottom: 0.625rem;
      &__date {
        font-weight: 700;
        display: inline;
      }
      &__text {
        display: inline;
        p {
          &:first-child {
            display: inline;
          }
        }
      }
    }
  }
}
.news-article {
  &__box {
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 0.875rem;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 5px 5px rgba(0,0,0,.1);
    &__time {
      margin-top: 0.625rem;
      margin-bottom: 0.625rem;
      width: 100%;
      font-weight: 700;
    }
    &__content {
      &__teaser {
        font-weight: 600;
      }
      &__main {
        > * {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  &__media {
    display: grid;
    grid-auto-flow: dense;
    grid-gap: 1rem;
    grid-template-rows: masonry;
    grid-template-columns: 1fr;
    margin-bottom: 1rem;
    @include breakpoints.media-breakpoint-up(sm) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoints.media-breakpoint-up(lg) {
      grid-template-columns: repeat(3, 1fr);
    }
    &__item {
      background-color: #ffffff;
      color: #000000;
      padding: 1rem;
      font-size: 0.875rem;
      box-shadow: 0 5px 5px rgba(0,0,0,.1);
    }
  }
  img {
    width: 100%;
    height: auto;
  }
}
