<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/List/Item.html
-->
<div class="box article articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}"
     itemscope="itemscope" itemtype="http://schema.org/Article">
    <n:excludeDisplayedNews newsItem="{newsItem}"/>
    <div class="news-img-wrap">
        <f:if condition="{newsItem.mediaPreviews}">
            <!-- media preview element -->
            <f:then>
                <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                    <f:alias map="{mediaElement: '{newsItem.mediaPreviews.0}'}">
                        <f:if condition="{mediaElement.originalResource.type} == 2">
                            <f:image image="{mediaElement}" title="{mediaElement.originalResource.title}"
                                     class="responsive-img"
                                     alt="{mediaElement.originalResource.alternative}"
                                     maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}"
                                     maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"/>
                        </f:if>
                        <f:if condition="{mediaElement.originalResource.type} == 4">
                            <f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}"/>
                        </f:if>
                        <f:if condition="{mediaElement.originalResource.type} == 5">
                            <f:image image="{mediaElement}" title="{mediaElement.originalResource.title}"
                                     class="responsive-img"
                                     alt="{mediaElement.originalResource.alternative}"
                                     maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}"
                                     maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"/>
                        </f:if>
                    </f:alias>
                </n:link>
                <div class="news-title" itemprop="headline">
                    <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">{newsItem.title}
                    </n:link>
                </div>
            </f:then>
            <f:else>
                <f:if condition="{settings.displayDummyIfNoMedia}">
                    <f:then>
                  <span class="no-media-element">
                            <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                                <f:image src="{settings.list.media.dummyImage}" title="" alt=""
                                         class="responsive-img"
                                         maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}"
                                         maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"/>
                            </n:link>
                        </span>
                        <div class="news-title" itemprop="headline">
                            <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                                {newsItem.title}
                            </n:link>
                        </div>
                    </f:then>
                    <f:else>
                        <div class="news-title" itemprop="headline" style="position: relative;">
                            <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                                {newsItem.title}
                            </n:link>
                        </div>
                    </f:else>
                </f:if>
            </f:else>
        </f:if>
    </div>
    <!-- teaser -->
    <div class="teaser-text">
        <f:if condition="{settings.list.showDate}">
            <span class="news-list-date">
                <time datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
                    <f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>:
                    <meta itemprop="datePublished" content="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}"/>
                </time>
            </span>
        </f:if>
        <n:removeMediaTags>
            <f:if condition="{newsItem.teaser}">
                <f:then>
                    <div class="description" itemprop="description">{newsItem.teaser -> f:format.crop(maxCharacters:
                        '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}
                    </div>
                </f:then>
                <f:else>
                    <div class="description" itemprop="description">{newsItem.bodytext -> f:format.crop(maxCharacters:
                        '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}
                    </div>
                </f:else>
            </f:if>
        </n:removeMediaTags>
    </div>
</div>
</html>