<section id="branding__region__logo" xmlns:f="http://www.w3.org/1999/html">
    <div id="branding__logo">
        <f:link.page pageUid="{f:cObject(typoscriptObjectPath: 'lib.rootpid')}" accesskey="h">
            <img class="responsive-img" src="https://cdn.pfadfinden.de/gfx/logos/bundeszeichen_1.png" width="390" height="79" srcset="https://cdn.pfadfinden.de/gfx/logos/bundeszeichen_1.png 1x, https://cdn.pfadfinden.de/gfx/logos/bundeszeichen_1@2x.png 2x" alt="Bund der Pfadfinderinnen und Pfadfinder"/>
        </f:link.page>
    </div>
</section>