#footer {
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
  background-color: $primary-color;
  box-shadow: 0px -5px 5px rgba(0,0,0,0.3);
  #nav-footer {
    margin: 1rem 0 0 0;
    .nav-footer__title {
      font-family: Immenhausen,serif;
      font-size: 25px;
      padding: 0 0 0.5rem 0;
      color: $secondary-color;

      .nav-footer__titleLine {
        &:first-child {
          line-height: 1.0;
        }
      }
    }
    .nav-footer__content {
      font-size: 0.85rem;
      #nav-footer__menu {
        margin: 0;
        padding: 0;
        li {
          font-family: Georgia, serif;
          font-size: 14px;
          font-style: italic;
          margin: 0 0 0.75rem 0;
          list-style: none;
          a {
            padding: 4px 0 4px 25px;
            background-repeat: no-repeat;
          }
        }
        .footer_contact {
          a {
            background-image: url(https://cdn.pfadfinden.de/gfx/icons/kontakt_1.png);
          }
        }
        .footer_privacy {
          a {
            background-image: url(https://cdn.pfadfinden.de/gfx/icons/impressum_1.png);
          }
        }
        .footer_favorite {
          a {
            background-image: url(https://cdn.pfadfinden.de/gfx/icons/favoriten_1.png);
          }
        }
        .footer_print {
          a {
            background-image: url(https://cdn.pfadfinden.de/gfx/icons/drucken_1.png);
          }
        }
        .footer_login {
          a {
            background-image: url(https://cdn.pfadfinden.de/gfx/icons/login_1.png);
          }
        }
      }
    }

  }
}
@media #{$small-and-up} {
  #footer {
    #nav-footer {
      .nav-footer__content {
        p {
          margin-top: 0;
        }
      }
    }
  }
}
@media #{$medium-and-up} {
  #footer {
    position: relative;
    margin-top: -286px;
    padding: 0;
    height: 286px;
    clear: both;
    overflow: hidden;
    box-shadow: none;
    background: url(//cdn.pfadfinden.de/gfx/objects/kochtopf_1.png) no-repeat right bottom;
    #nav-footer {
      height: 299px;
      width: 712px;
      background: url(//cdn.pfadfinden.de/gfx/objects/briefumschlag_1.png) no-repeat;
      padding: 1em 2em 0 2em;
      margin-left: 240px;
      margin-top: 0;
      .nav-footer__title {
        color: $primary-color;
        width: 100%;
        text-align: center;
        height: 125px;
        padding: 0 1rem;
        .nav-footer__titleLine {
          &:first-child {
            line-height: 1.5;
            padding-top: 0.5rem;
          }
          &:only-child {
            padding-top: 2.5rem;
          }
        }
      }
      .nav-footer__content {
        margin: 0 2rem;
      }
    }
  }
}
@media #{$medium-only} {
  #footer {
    #nav-footer {
      position: relative;
      margin-right: 25px;
      margin-left: auto;
    }
  }
}

