/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html{
  background: url(//cdn.pfadfinden.de/gfx/backgrounds/holzhintergrund_1.jpg);
}
@media #{$medium-and-up} {
  #wrap {
    background: url(//cdn.pfadfinden.de/gfx/objects/klufthemd_1.png) no-repeat;
  }
}

audio, canvas, img, svg, video {
  vertical-align: middle;
}

figure {
  margin: 0;
}
.responsive-img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0.75rem 0;
  padding: 0;
}
%extend_hyphens{
  // Automatische Silbentrennung
  -moz-hyphens: auto;
  -o-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  -moz-hyphenate-limit-chars: 10 4 4;
  -o-hyphenate-limit-chars: 10 4 4;
  -webkit-hyphenate-limit-chars: 10 4 4;
  -ms-hyphenate-limit-chars: 10 4 4;
  hyphenate-limit-chars: 10 4 4;

  -moz-hyphenate-limit-lines: 2;
  -o-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-lines: 2;
  hyphenate-limit-lines: 2;
}
