body.cookie-padding {
  padding-bottom: 50px;
}
.cc_banner-wrapper {
  z-index: 9001;
  position: absolute;
}
.cc_container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 10px;
  background: $primary-color;
  color: #fff;
  font-size: 17px;
  font-family: 'Immenhausen', serif;
  box-sizing: border-box;
  animation-duration: 0.8s;
  animation-name: slideUp;
  box-shadow: 0 -5px 5px rgba(0,0,0,.1);
  .cc_btn {
    line-height: 1em;
    padding: 8px 10px;
    background: $secondary-color;
    color: $primary-color;
    cursor: pointer;
    text-align: center;
    font-size: 0.6em;
    display: block;
    width: 33%;
    margin-left: 10px;
    float: right;
    max-width: 120px;
    transition: font-size 200ms, background 200ms ease-in-out, color 200ms ease-in-out, box-shadow 200ms ease-in-out;
    &:visited {
      background: $secondary-color;
      color: $primary-color;
      transition: background 200ms ease-in-out, color 200ms ease-in-out, box-shadow 200ms ease-in-out;
    }
    &:hover {
      background: $secondary-color;
      color: $primary-color;
      box-shadow: 0 5px 5px rgba(0,0,0,.1);
    }
    &:active {
      background: $secondary-color;
      color: $primary-color;
    }
    a {
      text-decoration: none;
    }
  }
  .cc_message {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    color: #000000;
    transition: font-size 200ms;
    font-size: 0.6em;
    display: block;
    .cc_more_info {
      color: $secondary-color;
      &:hover {
        color: #000000;
        text-decoration: underline;
      }
    }
  }
  .cc_logo {
    display: none;
    text-indent: -1000px;
    overflow: hidden;
    width: 100px;
    height: 22px;
    background-size: cover;
    opacity: 0.9;
    transition: opacity 200ms;
    &:hover {
      opacity: 1;
    }
    &:active {
      opacity: 1;
    }
  }
  ::-moz-selection {
    background: #ff5e99;
    color: #fff;
    text-shadow: none;
  }
  a {
    text-decoration: none;
    color: #c8c8c8;
    transition: 200ms color;
    &:visited {
      text-decoration: none;
      color: #c8c8c8;
      transition: 200ms color;
    }
    &:hover {
      text-decoration: none;
      color: #888;
    }
    &:active {
      text-decoration: none;
      color: #888;
    }
  }
}
@media screen and(min-width: 500px) {
  .cc_container {
    .cc_btn {
      font-size: 0.8em;
    }
    .cc_message {
      font-size: 0.8em;
      margin-top: 0.7em;
    }
  }
}
@media screen and(min-width: 768px) {
  .cc_container {
    padding: 10px 50px;
    .cc_btn {
      font-size: 0.8em;
      padding: 8px 15px;
    }
    .cc_message {
      font-size: 0.8em;
      line-height: 0.8em;
    }
  }
}
@media screen and(min-width: 992px) {
  .cc_container .cc_message {
    font-size: 0.8em;
  }
}
@media print {
  .cc_banner-wrapper {
    display: none;
  }
  .cc_container {
    display: none;
  }
}
@-webkit-keyframes slideUp {
  0% {
    transform: translateY(66px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(66px);
  }
  100% {
    transform: translateY(0);
  }
}
.cc_message {
  animation-duration: 0.8s;
  animation-name: slideUp;
}
.cc_btn {
  animation-duration: 0.8s;
  animation-name: slideUp;
}
