html {
    color: #000;
    line-height: 1.5;
    font-size: 81.3%;
    font-family: verdana, arial, sans-serif;
}

p, ul li {
    line-height: 1.5;
    font-family: verdana, arial, sans-serif;
    margin: 0.75em 0;
    padding: 0;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr { display: block; height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


html{
	background: url(//cdn.pfadfinden.de/bdp_template/gfx/backgrounds/Holzhintergrund_v1.jpg);
}

html, body, #wrap {height: 100%;}
body > #wrap {height: auto; min-height: 100%;}

#main {
	padding-bottom: 286px; /* Muss genau so hoch sein wie der Footer */
	min-height: 400px;
	margin-bottom: 150px;
}

#wrap {
	background: url(//cdn.pfadfinden.de/bdp_template/gfx/objects/Klufthemd_v1.png) no-repeat;
}

#content {
	margin: 1em 0 0 0;
	max-width: 710px;
	margin-left: 240px;
}

#content-fw {
	margin: 1em 0 0 0;
	max-width: 1020px;
	margin-left: 240px;
}

#content-border {
	position: absolute;
	top: 0;
	right: -220px;
	width: 200px;
}

#designelement__halstuch {
	position: absolute;
	top: 0;
	right: 0;
}

.masonry-item {width: 50%; float: left;}
.masonry-item-3 {width: 33.33%;}
