.ttaddress_lv_vcard {
	margin-bottom: 1em;
}

.ttaddress_lv_vcard .org{
	font-weight: bold;
	margin: 1em 0;
}

.vcard {
	margin-bottom: 1em;	
	display: relative;
}

.vcard .photo {
	float: left;
	margin-right: 1em;
}

.vcard p.title {
	margin: 0.25em 0 1em 0;
	font-style: italic;
}

.vcard ul {
	margin: 0;
	padding: 0;
	list-style: square outside;
}

.vcard ul li {
	margin: 0em 0em 0em 1.5em;
}

.vcard .address {
	margin-left: 114px;
}