.geosearch__input, .geosearch__input:focus {
  display: inline;
  border: 2px solid #FFCA28; 
  color: #FFF;
  background: transparent;
  padding: 3px 0.25em 4px;  
  margin: 0 0 0 0;
  width: 75px;
  text-align: center;
  font-family: Georgia,serif;
  font-style: italic;
  outline: none;
  height: 20px;
  vertical-align: top;
}

.geosearch__submit, .geosearch__submit:focus {
  display: inline;
  padding: 0.25em;  
  border: 2px solid #FFCA28; 
  background-color: #FFCA28;
  color: #FFF;  
  text-style: italic;
  font-weight: bold;
  outline: none;
  height: 31px;
  width: 30px;
  border: 2px solid #FFCA28; 
  vertical-align: top;
}

.tx_bdplocal-vcard{
  width: 33.33%;
  float: left;
}

.tx_bdplocal-vcard .csc-default {
  position: relative;
}

.tx_bdplocal-control {
  background: #FFCA28;
  padding: 1em;
  margin: -7em 1em 1em 0;
  position: absolute;
}

.tx_bdplocal-control .searchdesc {
  color: #0D53A5;
  font-family: akachenregular, serif;
  display: inline;
  font-size: 1.35em;  
  margin-right: 1em;
}

.tx_bdplocal-control .tx_bdplocal-form-postalcode {
  background: transparent;
  border: 2px solid #FFF;
  padding: 0.5em;
  font-family: Georgia,serif;
  font-style: italic;
  font-weight: bold;
  color: #FFF;
  outline: none;
}

.tx_bdplocal-control .tx_bdplocal-form-submit {
  background: #0D53A5;
  color: #FFCA28;
  padding: 0.5em;  
  border: 0;
  margin-right: 2em;
}

ul.tx_bdplocal-headericons {
  position: absolute;
  top: 1em;
  right: 1em;
  margin: 0;
  padding: 0;
}

ul.tx_bdplocal-headericons li {
  display: inline;
  list-style: none;
  margin-left: 0.25em;
}

.tx_bdplocal-headericons a {
  padding: 0.25em;
  background: transparent;
}

.tx_bdplocal-headericons a:hover {
  color: #FFCA28;
}

.group-highlight {
  background-color: #FFFADF;
}

.tx-bdp-local .flashMessages {
  background: #FCE4C3;
  border: 2px solid #FF9100;
  margin: 2em 2em 2em 0;
  padding: 0.75em;
}

.tx-bdp-local .flashMessages li {
  list-style: none;
  margin: 0;
  padding: 0;
}