#footer {
	position: relative;
	margin-top: -286px;
	height: 286px;
	clear:both;
	background-color: #FFF;
	overflow: hidden;
	background: url(//cdn.pfadfinden.de/gfx/objects/kochtopf_1.png) no-repeat right bottom;
}

#nav-footer {
	height: 286px;
	width: 660px;
	background: url(//cdn.pfadfinden.de/gfx/objects/briefumschlag_1.png) no-repeat;
	padding: 1em 2em 0 2em;
	margin-left: 240px;
}

.nav-footer__title {
	color: #FFCA28;
	font-family: akachen, serif;
	font-size: 25px;
	font-weight: normal;
	wdith: 100%;
	text-align: center;
	margin: 0.5em 0 2em 0;
	padding: 0 1em;
}

.nav-footer__content {
	margin: 0 2em;
	padding: 0;
}

.nav-footer__content p, .nav-footer__content li{
	font-size: 0.85em;
}

.nav-footer__content p {
	color: #000;
}

.nav-footer__content p a{
	text-decoration: none;
	color: #0d53a5;
}

.nav-footer__content p a:hover{
	text-decoration: underline;
}

.nav-footer__content h2{
	font-family: akachen, serif;
}


.nav-footer__content li{
	list-style: none;
	padding: 0;
	maring: 0;
}

.nav-footer__topf {
	position: absolute;

	bottom: 0;

	right: -175px;
}
#nav-footer__menu {
margin: 0;
padding: 0;
}

#nav-footer__menu li {
	margin: 0 0 0.75em 0;
	padding: 0;
}

#nav-footer__menu li a, .nav-footer__impressum{
	text-decoration: none;
	font-style: italic;
	font-family: Georgia,serif;
	font-size: 14px;
	color: #0D53A5;
	padding: 4px 0 4px 25px;
	background-repeat: no-repeat;
}

#nav-footer__menu li a:hover {
	text-decoration: underline;
}

.nav-footer__content p {
	margin-top: 0;
}

#nav-footer__menu .footer_contact a{ background-image: url(//cdn.pfadfinden.de/gfx/icons/kontakt_1.png); }
#nav-footer__menu .footer_privacy a{ background-image: url(//cdn.pfadfinden.de/gfx/icons/impressum_1.png); }
#nav-footer__menu .footer_favorite a{ background-image: url(//cdn.pfadfinden.de/gfx/icons/favoriten_1.png); }
#nav-footer__menu .footer_print a{ background-image: url(//cdn.pfadfinden.de/gfx/icons/drucken_1.png); }
#nav-footer__menu .footer_recommend a{ background-image: url(//cdn.pfadfinden.de/gfx/icons/favoriten_1.png); }
