#nav-left {
	position: absolute;
	top: 120px;
	left: 40px;
	width: 160px;
	padding: 0 0 0 0;
	z-index: 7;
}

#nav-primary {
	background-color: #FFCA28;
}

#nav-primary__menu {
	padding: 10px 0 50px 0;
	margin: 0;
}

#nav-primary__menu li{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#nav-primary__menu li.active {
	border-bottom: 1px solid #9F7515;
	border-top: 1px solid #9F7515;
	padding: 0.5em 0 0.5em 0;
	margin: 0.5em 0 0.5em 0;
	background-color: #E1AF22;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#E0CB84', endColorstr='#ffffff');/*For IE7-8-9*/
	background-image: -webkit-linear-gradient(#9F7515 0%, #E1AF22 100%);
	background-image: -moz-linear-gradient(#9F7515 0%, #E1AF22 100%);
	background-image: -o-linear-gradient(#9F7515 0%, #E1AF22 100%);
	background-image: linear-gradient(#9F7515 0%, #E1AF22 100%);
}

#nav-primary__menu li.active span{
	color: #fff;
}

#nav-primary__menu li.active ul li{
	background-color: inherit;
}

#nav-primary__menu li a, #nav-primary__menu li span{
	padding: 0.4em 0.5em 0.4em 1em;
	display: block;
	text-decoration: none;
	font-style: normal;
	color: #6B5742;
	font-family: akachen, serif;
	font-size: 1.4em;
	letter-spacing: 0.01em;
}

#nav-primary__menu li a:hover {
	color: #000;
}

#nav-primary__menu li.active ul {
	padding: 0;
	margin: 0;
}

/* Submenu */
#nav-primary__menu li ul li a, #nav-primary__menu li ul li span{
	padding: 5px 5px 5px 25px;
	display: block;
	text-decoration: none;
	font-style: normal;
	color: #000;
	font-family: Georgia,serif;
	font-style: italic;
	font-size: 12px;
}

#nav-primary__menu li ul li.active {
	border: none;
	padding: 0;
	margin: 0;
	background: none;
}
