.teaser {
  position: relative;
  margin: 0 0 1em 0;
  display: inline-block;
}

.teaser img {
  height: 100%;
  width: 100%;
  max-width: 1300px;
  display: relative;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.teaser__title {
  position: absolute;
  left: 240px;
  bottom: 1em;
}

.teaser__titleline {
  background: rgba(56,46,35,0.7);
  padding: 0.05em 0.25em;
  display: inline;
  margin-bottom: 0.25em;
  font-size: 4em;
  font-family: Immenhausen, serif;
  color: #FFCB04;
}

.teaser__source {
  position: absolute;
  right: 1em;
  bottom: 0.25em;
  color: #FFFFFF;
  font-size: 0.75em;
}
