<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{media}">
	<!-- fal media files -->
	<div class="masonry-container row">
		<f:for each="{media}" as="mediaElement">
			<f:if condition="{mediaElement.showinpreview} == 0">
				<div class="masonry-item col s12 m6 l4">
					<div class="box">
						<f:if condition="{mediaElement.originalResource.type} == 2">
							<f:render partial="Detail/FalMediaImage" arguments="{mediaElement: mediaElement, settings:settings}"/>
						</f:if>
						<f:if condition="{mediaElement.originalResource.type} == 4">
							<f:render partial="Detail/FalMediaVideo" arguments="{mediaElement: mediaElement, settings:settings}"/>
						</f:if>
						<f:if condition="{mediaElement.originalResource.type} == 5">
							<f:render partial="Detail/FalMediaImage" arguments="{mediaElement: mediaElement, settings:settings}"/>
						</f:if>
					</div>
				</div>
			</f:if>
		</f:for>
	</div>
</f:if>
</html>