<!DOCTYPE html>
<html lang="de">
<head>

<meta charset="utf-8">
<title>BdP | Seite nicht gefunden</title>

<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" media="all">

<style type="text/css">
@font-face{font-family:'akachenregular';src:url('http://www.pfadfinden.de/fileadmin/buena/css/webfont/akachen-webfont.eot');src:url('http://www.pfadfinden.de/fileadmin/buena/css/webfont/akachen-webfont.eot?#iefix') format('embedded-opentype'),url('http://www.pfadfinden.de/fileadmin/buena/css/webfont/akachen-webfont.woff') format('woff'),url('http://www.pfadfinden.de/fileadmin/buena/css/webfont/akachen-webfont.ttf') format('truetype'),url('http://www.pfadfinden.de/fileadmin/buena/css/webfont/akachen-webfont.svg#akachenregular') format('svg');font-weight:normal;font-style:normal}
html {background: url('http://www.pfadfinden.de/fileadmin/buena/img/BG002.jpg'); color: #000; line-height: 1.5; font-size: 81.3%; font-family: verdana,arial,sans-serif;}
a, a:visited, a, a:visited { text-decoration: none; color: #0D53A5;}
a:hover, a:hover{text-decoration:underline}
#wrap { background: url('http://www.pfadfinden.de/fileadmin/buena/img/BDP001_Klufthemd_LY01.png') no-repeat;}
#branding { z-index: 7; background-color: #FFCA28; position: relative; margin-left: 240px; width: 425px; height: 135px; box-shadow: 0 5px 5px rgba(0,0,0,0.3); }
#branding__logo {padding-top: 45px;}
#main { min-height: 400px; }
#content { margin: 1em 0 0 0; max-width: 710px; margin-left: 240px;}
h1,h2,h3 { font-family:akachenregular,serif; color:#fff; font-weight:normal; margin:0.5em 0 0.25em 0;}
.csc-default { margin: 0 1em 1em 0; background-color: #FFF; padding: 1em 1em; box-shadow: 0 5px 5px rgba(0,0,0,0.1);}
.csc-default h2, .csc-default h3 {color: #0D53A5;}
</style>

</head>
<body>
	<div id="wrap">
		<header id="header">
			<div id="branding">
				<div style="text-align:center;" id="branding__logo">
					<a href="/">
						<img src="http://www.pfadfinden.de/fileadmin/buena/img/Bundeszeichen_v03.png" width="390" height="75" />
					</a>
				</div>
			</div>
		</header>
		<div id="main" class="clearfix">
			<div id="content">
				<h1>Fehler 404: Seite nicht gefunden</h1>
				<div class="csc-default">
					<h2>Was ist passiert?</h2>
					<p>Selbst wir finden hin und wieder nicht auf Anhieb den richtigen Pfad.<br />Gut gerüstet mit Kompass und Landkarte erreichen wir aber trotzdem immer unser Ziel.</p>
					<ul>
						<li>Prüfe die Adresszeile des Browsers auf Tippfehler</li>
						<li><a href="/">Wechsle zur Startseite dieses Internetauftritts</a></li>
						<li><a href="http://www.pfadfinden.de/index.php?id=2085">Durchsuche den Internetauftritt nach einem Stichwort</a></li>
						<li><a href="mailto:webmaster@pfadfinden.de?subject=BdP | Seite nicht gefunden: ###CURRENT_URL###&body=###REASON###">Kontaktiere uns per E-Mail</a></li>
					</ul>
				</div>
				<div class="csc-default" style="background-color: #E8E8E8;">
					<h3>Technische Details</h3>
					<p>###REASON###</p>
					<p>Request URL: ###CURRENT_URL###</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>