<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="content-type" content="text/html; charset=windows-1252">
	<title>Landesverbaende Template</title>
</head>
<body>

<!-- ###TEMPLATE_ADDRESS### beginn -->
<div class="masonry-item col s12 m6 l4">
<div class="box">

	<div class="csc-header csc-header-n1"><h3 class="bdp-yellow">###LASTNAME###</h3></div>
	
	<!-- ###SUBPART_ADR### begin -->
	<p class="adr">
	###ORGANIZATION###
	###ADDRESS###
	###ZIP### ###CITY###
	</p>
	<!-- ###SUBPART_ADR### end -->
	<p>
	###PHONE###
	###FAX###
	</p>
	###EMAIL###	
	###WWW###
	<p></p>
</div>
</div>
<!-- ###TEMPLATE_ADDRESS### end -->


</body></html>