<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="content-type" content="text/html; charset=windows-1252">
	<title>Mitarbeitende Template</title>
</head>
<body>

<!--
###UID###
###GENDER###
###FIRSTNAME###
###MIDDLENAME###
###LASTNAME###
###TITLE###
###EMAIL###
###PHONE###
###MOBILE###
###WWW###
###ADDRESS###
###BUILDING###
###ROOM###
###BIRTHDAY###
###ORGANIZATION###
###COMPANY### (only here for backwards compatibility, this is an alias for ORGANIZATION)
###CITY###
###ZIP###
###REGION###
###COUNTRY###
###IMAGE### (###IMAGE1-5### are available, too if multiple images are added to the address record)
###FAX###
###DESCRIPTION###
###MAINGROUP###
###GROUPLIST###
-->

<!-- ###TEMPLATE_ADDRESS### beginn -->
<div class="masonry-item">
<div class="vcard box">
###IMAGE###
<div class="address">
	###FIRSTNAME### ###MIDDLENAME### ###LASTNAME###
	###TITLE###
	<p>###EMAIL### ###PHONE###</p>
	###DESCRIPTION###
</div>
</div>
</div>
<!-- ###TEMPLATE_ADDRESS### end -->


</body></html>